<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <form (ngSubmit)="onSubmit()" #convenioForm="ngForm">

          <div [hidden]="convenioForm.submitted">
            <div id="tab_1" style="margin-top: 10px;" class="container col-sm-12 col-md-12">
              <div class="row"></div>
              <div class="row rowcadastro">
                <div class="col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label" for="nomeConvenio">Nome Convênio(*)</label>
                    <input type="text" id="nomeConvenio" placeholder="Nome Convenio" name="nomeConvenio"
                      class="form-control" required minlength="4" [(ngModel)]="convenio.nomeConvenio"
                      #nomeConvenio="ngModel">
                    <div *ngIf="nomeConvenio.invalid && (nomeConvenio.dirty || nomeConvenio.touched)"
                      class="alert alert-danger">
                      <div *ngIf="nomeConvenio.errors.required"> Nome Convênio Obrigatório. </div>
                    </div>
                  </div>
                </div>
                <div class="col-xs-6 col-md-3">
                  <div class="form-group">
                    <label class="control-label" for="diasRetorno">Dias Retorno</label>
                    <input type="number" id="diasRetorno" name="diasRetorno" class="form-control"
                      [(ngModel)]="convenio.diasRetorno" #diasRetorno="ngModel">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="panel-footer rowcadastro">
            <div class="form-group">
              <div class="col-xs-8 col-md-6">
                <!--  -->
                <button style="width:40%" class="btn btn-rounded btn-success" [disabled]="!convenioForm.form.valid"
                  type="submit">Salvar</button>
                <button style="width:40%" class="btn btn-rounded btn-danger" type="submit">Cancelar</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>