<form #fechamentoCaixa="ngForm">
    <div class="modal-header">
        <h4 class="modal-title">Fechamento Caixa</h4>
        <button type="button" class="close" aria-label="Fechar" (click)="fechar()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="form-group">
                    <label class="control-label" for="Caixa">Caixa(*)</label>
                    <select class="form-control" (change)="descricaoCaixa($event)" [(ngModel)]="caixa"
                        #caixaModel="ngModel" id="caixa" name="caixa" required>
                        <option *ngFor="let cax of caixas" [ngValue]="cax">
                            {{cax.descricao}}
                        </option>
                    </select>
                    <div *ngIf="caixaModel.invalid"
                        class="alert alert-danger">
                        <div *ngIf="caixaModel.invalid && caixaModel.errors.required"> Caixa Obrigatório. </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
                <div class="col-xs-12 col-md-12">
                    <div class="form-group">
                        <label class="control-label" for="login">Login(*)</label>
                        <input type="text" class="form-control" readonly id="login" name="login" #login placeholder="login">
                    </div>
                </div>
            </div>
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="form-group">
                    <label class="control-label" for="senha">Senha(*)</label>
                    <input type="password" class="form-control" id="senha" (blur)="validaSenha()" name="senha" placeholder="senha" required #senha>
                    <div *ngIf="senha.value == '' || senhaValida" class="alert alert-danger">
                        <div *ngIf="senha.value == ''"> Senha Obrigatória. </div>
                        <div *ngIf="senhaValida"> Senha Inválida. </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-4 col-md-4">
                <label class="control-label" for="trocoFechamento">Troco Fechamento(*)</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">R$</span>
                    </div>
                    <input type="text" id="trocoFechamento" (blur)="formatarDecimal($event)" mask="dot_separator.2" name="trocoFechamento"
                        placeholder="000,00" class="form-control" required [(ngModel)]="caixa.trocoFechamento"
                        #trocoFechamento="ngModel">
                </div>
                <div *ngIf="trocoFechamento.invalid" class="alert alert-danger">
                    <div *ngIf="trocoFechamento.errors.required"> Troco Fechamento Obrigatório. </div>
                </div>
            </div>

            <div class="col-xs-4 col-md-4">
                <label class="control-label" for="dataFechamento">Data de Fechamento</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                    </div>
                    <input type="text" mask="00/00/0000" id="dataFechamento" appValidaDataModal name="dataFechamento" placeholder="01/01/1901"
                        class="form-control" [(ngModel)]="dataFecha" #dataFechamento="ngModel" readonly>                        
                </div>
                <div *ngIf="dataFechamento.invalid && dataFechamento.errors?.validaDataModal" class="alert alert-danger">
                    <div *ngIf="dataFechamento.errors?.validaDataModal"> Data Inválida.</div>
                </div>
            </div>
            <div class="col-xs-4 col-md-4">
                <label class="control-label" for="horaFechamento">Hora de Fechamento</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                    </div>
                    <input type="text" mask="Hh:m0" pattern="{{patterHora}}" id="horaFechamento" name="horaFechamento"
                        placeholder="HH:mm" class="form-control" [(ngModel)]="caixa.horaFechamento"
                        #horaFechamento="ngModel" readonly>
                </div>
            </div>
        </div>
    </div>
</form>
<div class="modal-footer">
    <button style="width:40%" (click)="fechar()" class="btn btn-rounded btn-warning"  type="submit">Cancelar</button>
    <button style="width:40%" (click)="salvar()" class="btn btn-rounded btn-success" 
        [disabled]="!fechamentoCaixa.form.valid || existeCaixaAbertoParaFuncionario">Salvar</button>
</div>