<form #aberturaCaixa="ngForm">
    <div class="modal-header">
        <h4 class="modal-title">Abertura Caixa</h4>
        <button type="button" class="close" aria-label="Fechar" (click)="fechar()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="alert-warning" *ngIf="caixa.administrativo">
            Quando selecionado caixa administrativo todas contas serão divididas entre os médicos da clínica.
        </div>
        <br>
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="form-group">
                    <label class="control-label" for="pessoa">Pessoa(*)</label>
                    <select class="form-control" (change)="trocaPessoa()" #pessoaModel="ngModel"
                        [(ngModel)]="caixa.pessoaId" id="pessoa" name="pessoa" required>
                        <option *ngFor="let pes of pessoas" [ngValue]="pes.id">
                            {{pes.nomeCompleto}}
                        </option>
                    </select>
                    <div *ngIf="pessoaModel.invalid || existeCaixaAbertoParaPessoa" class="alert alert-danger">
                        <div *ngIf="pessoaModel.invalid && pessoaModel.errors.required"> Pessoa
                            Obrigatória. </div>
                        <div *ngIf="existeCaixaAbertoParaPessoa"> Já existe um caixa aberto para a pessoa selecionada.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="form-group">
                    <label class="form-check-inline" for="administrativo">Administrativo</label>
                    <input class="form-check-inline" [(ngModel)]="caixa.administrativo" name="administrativo"
                        id="administrativo" value="checked" type="checkbox">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-4 col-md-4">
                <label class="control-label" for="trocoAbertura">Troco Abertura(*)</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">R$</span>
                    </div>
                    <input type="text" id="trocoAbertura" (blur)="formatarDecimal($event)" mask="dot_separator.2"
                        name="trocoAbertura" placeholder="000,00" class="form-control" required
                        [(ngModel)]="caixa.trocoAbertura" #trocoAbertura="ngModel">
                </div>
                <div *ngIf="trocoAbertura.invalid" class="alert alert-danger">
                    <div *ngIf="trocoAbertura.errors.required"> Troco Abertura Obrigatório. </div>
                </div>
            </div>

            <div class="col-xs-4 col-md-4">
                <label class="control-label" for="dataAbertura">Data de Abertura</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                    </div>
                    <input type="text" mask="00/00/0000" appValidaDataModal id="dataAbertura" name="dataAbertura"
                        placeholder="01/01/1901" class="form-control" [(ngModel)]="dataAber" #dataAbertura="ngModel"
                        readonly>
                </div>
                <div *ngIf="dataAbertura.invalid && dataAbertura.errors?.validaDataModal" class="alert alert-danger">
                    <div *ngIf="dataAbertura.errors?.validaDataModal"> Data Inválida.</div>
                </div>
            </div>
            <div class="col-xs-4 col-md-4">
                <label class="control-label" for="horaAbertura">Hora de Abertura</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                    </div>
                    <input type="text" mask="Hh:m0" pattern="{{patternHora}}" id="horaAbertura" name="horaAbertura"
                        placeholder="HH:mm" class="form-control" [(ngModel)]="caixa.horaAbertura"
                        #horaAbertura="ngModel" readonly>
                </div>
            </div>
        </div>
    </div>
</form>
<div class="modal-footer">
    <button style="width:40%" (click)="salvar()" class="btn btn-rounded btn-success"
        [disabled]="!aberturaCaixa.form.valid || existeCaixaAbertoParaPessoa">Salvar</button>
    <button style="width:40%" (click)="fechar()" class="btn btn-rounded btn-warning" type="submit">Cancelar</button>
</div>