<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <form #contaReceberForm="ngForm">
          <ngb-tabset type="pills" [destroyOnHide]="false">
            <ngb-tab title="Informações">
              <ng-template ngbTabContent>
                <div id="tab_1" style="margin-top: 10px;" class="container col-sm-12 col-md-12">
                  <div class="row"></div>
                  <div class="row" style="list-style: heigth 0.4;">
                    <div class="col-xs-12 col-md-12">
                      <div class="form-group">
                        <label class="control-label" for="paciente">Paciente(*)</label>
                        <div class="input-group">
                          <input name="pacienteSelecionado" type="text" (selectItem)="selecionaPaciente($event)"
                            placeholder="Digite o nome do paciente" required [ngbTypeahead]="buscaPaciente"
                            class="form-control" minlength="3" #pacienteModel="ngModel" id="pacienteModel"
                            [(ngModel)]="pacienteSelecionado">
                          <div class="input-group-prepend">
                            <ng-template #tipPaciente>Adiciona Paciente</ng-template>
                            <span (click)="adicionaPaciente()" [ngbTooltip]="tipPaciente" class="input-group-text"
                              id="img-adiciona-paciente">
                              <i class="fa fa-pencil"></i></span>
                          </div>
                        </div>
                        <div *ngIf="(falhaNaBusca || pacienteModel.invalid)" class="alert alert-danger">
                          <div *ngIf="pacienteModel.errors?.required">Paciente Obrigatório. </div>
                          <div *ngIf="falhaNaBusca">Não foi possível encontrar um paciente com este nome.</div>
                          <div *ngIf="pacienteModel.errors?.minlength"> Nome precisa ter no mínimo 3 caracteres</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row rowcadastro">
                    <div class="col-xs-2 col-md-3">
                      <div class="form-group">
                        <label class="control-label" for="numeroFatura">Número Fatura</label>
                        <input type="number" min="1" id="numeroFatura" placeholder="Número Fatura" name="numeroFatura"
                          class="form-control" [(ngModel)]="contaReceber.numeroFatura" #numeroFatura="ngModel"
                          [required]=" (numeroFatura.value == '' || numeroFatura.value == null)">
                        <div *ngIf="numeroFatura.invalid" class="alert alert-danger">
                          <div *ngIf="numeroFatura.errors.required"> Número Fatura/Documento obrigatória(o).</div>
                        </div>
                      </div>
                    </div>

                    <div class="col-xs-2 col-md-3">
                      <div class="form-group">
                        <label class="control-label" for="numeroDocumento">Número Documento</label>
                        <input type="text" id="numeroDocumento" placeholder="Número Documento" name="numeroDocumento"
                          class="form-control" [(ngModel)]="contaReceber.numeroDocumento" #numeroDocumento="ngModel"
                          [required]="(numeroDocumento.value == '' || numeroDocumento.value == null)">
                        <div *ngIf="numeroDocumento.invalid" class="alert alert-danger">
                          <div *ngIf="numeroDocumento.errors.required"> Número Documento/Fatura obrigatório(a).</div>
                        </div>
                      </div>
                    </div>

                    <div class="col-xs-2 col-md-3">
                      <div class="form-group">
                        <label class="control-label" for="dataEmissao">Data Emissão</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                          </div>
                          <input type="text" mask="00/00/0000" required id="dataEmissao" name="dataEmissao"
                            placeholder="01/01/1901" class="form-control" appValidaData [(ngModel)]="dataEmi"
                            #dataEmissao="ngModel" (blur)="formataData($event)">
                        </div>
                        <div *ngIf="dataEmissao.invalid || dataEmissao.errors?.validaData" class="alert alert-danger">
                          <div *ngIf="dataEmissao.errors?.required"> Data Obrigatória.</div>
                          <div *ngIf="dataEmissao.errors?.validaData"> Data Inválida.</div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-2 col-md-3">
                      <div class="form-group">
                        <label class="control-label" for="dataVencimento">Data Vencimento</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                          </div>
                          <input type="text" mask="00/00/0000" required id="dataVencimento" name="dataVencimento"
                            placeholder="01/01/1901" appValidaData class="form-control" [(ngModel)]="dataVenc"
                            #dataVencimento="ngModel" (blur)="formataData($event)">
                        </div>
                        <div *ngIf="dataVencimento.invalid || dataVencimento.errors?.validaData"
                          class="alert alert-danger">
                          <div *ngIf="dataVencimento.errors.required"> Data Obrigatória.</div>
                          <div *ngIf="dataVencimento.errors?.validaData"> Data Inválida.</div>

                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row rowcadastro">
                    <div class="col-xs-3 col-md-3">
                      <label class="control-label" for="tipoConta">Tipo Conta</label>
                      <input type="text" readonly id="tipoConta" name="tipoConta" class="form-control"
                        [(ngModel)]="contaReceber.tipoContaDescricao" #tipoConta="ngModel">
                    </div>
                    <div class="col-xs-3 col-md-2">
                      <label class="control-label" for="desconto">Desconto</label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">R$</span>
                        </div>
                        <input type="text" id="desconto" mask="dot_separator.2"
                          (blur)="calcularJurosDesconto($event.target.value, 'desconto');  formatarDecimal($event);"
                          name="desconto" placeholder="000,00" class="form-control" [(ngModel)]="contaReceber.desconto"
                          #desconto="ngModel">
                      </div>
                    </div>
                    <div class="col-xs-3 col-md-2">
                      <label class="control-label" for="jurosMulta">Juros/Multa</label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">R$</span>
                        </div>
                        <input type="text" id="jurosMulta" mask="dot_separator.2"
                          (blur)="calcularJurosDesconto($event.target.value, 'juros'); formatarDecimal($event);"
                          name="jurosMulta" placeholder="000,00" class="form-control"
                          [(ngModel)]="contaReceber.jurosMulta" #jurosMulta="ngModel">
                      </div>
                    </div>
                    <div class="col-xs-3 col-md-3">
                      <label class="control-label" for="valor">Valor(*)</label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">R$</span>
                        </div>
                        <input type="text" id="valor"
                          (blur)="calcularJurosDesconto($event.target.value, 'valor'); formatarDecimal($event);"
                          mask="dot_separator.2" name="valor" placeholder="000,00" class="form-control" required
                          min="0.1" [(ngModel)]="contaReceber.valor" #valor="ngModel">
                      </div>
                      <div *ngIf="valor.invalid" class="alert alert-danger">
                        <div *ngIf="valor.errors.required"> Valor Obrigatório. </div>
                      </div>
                    </div>
                    <div class="col-xs-3 col-md-2">
                      <label class="control-label" for="valorTotal">Valor Total</label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">R$</span>
                        </div>
                        <input type="text" id="valorTotal" mask="dot_separator.2" [(ngModel)]="contaReceber.valorTotal"
                          readonly name="valorTotal" placeholder="000,00" class="form-control" #valorTotal="ngModel">
                      </div>
                    </div>
                  </div>
                  <div class="row rowcadastro">
                    <div class="col-xs-12 col-md-12">
                      <label class="control-label" for="observacao">Observação</label>
                      <textarea id="observacao" name="observacao" placeholder="observação" class="form-control"
                        [(ngModel)]="contaReceber.observacao" #observacao="ngModel"></textarea>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ngb-tab>
            <ngb-tab title="Pagamentos" [disabled]="!contaReceberForm.valid">
              <ng-template ngbTabContent>
                <div id="tab_2" style="margin-top: 10px;" class="container col-sm-12 col-md-12">
                  <br />
                  <div class="row">
                    <div class="col-xs-2 col-md-3">
                      <label class="control-label" for="saldo">Saldo</label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">R$</span>
                        </div>
                        <input type="text" id="saldo" mask="dot_separator.2" name="saldo" placeholder="000,00"
                          class="form-control" readonly [(ngModel)]="contaReceber.saldo" #saldo="ngModel">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="table table-responsive smart-table">
                      <ng2-smart-table [(settings)]="settingsPagamentos" [(source)]="sourcePagamentos"
                        (edit)="editarRegistro($event)" (create)="adicionarPagamento()"
                        (delete)="deletarPagamento($event)">
                      </ng2-smart-table>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ngb-tab>
          </ngb-tabset>
          <div class="panel-footer rowcadastro">
            <div class="form-group">
              <div class="col-xs-8 col-md-6">
                <button style="width:40%" class="btn btn-rounded btn-success" [disabled]="(!contaReceberForm.valid || contaDeAgendamento)"
                  type="button" (click)="salvar()">Salvar</button>
                <a href="javascript:history.back()" style="width:40%" class="btn btn-rounded btn-danger">Cancelar</a>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>