<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <form #pacienteForm="ngForm">
          <ngb-tabset type="pills" [destroyOnHide]="false">
            <ngb-tab title="Informações Pessoais">
              <ng-template ngbTabContent>
                <div id="tab_1" style="margin-top: 10px;" class="container col-sm-12 col-md-12">
                  <div class="row"></div>

                  <div class="row rowcadastro">
                    <div class="col-xs-4 col-md-2" style="text-align:center">
                      <img [src]="imageUrl" width="200" height="220" />
                      <br />
                      <br />
                      <button class="btn btn-rounded btn-warning" type="button" (click)="tirarFoto()">Tirar
                        Foto</button>
                      <br />
                      <br />
                      <button class="btn btn-rounded" type="button" style="background-color: rgba(117, 117, 212, 0.835)"
                        (click)="importarArquivo()">Importar Arquivo</button>
                      <input id="fileInput" #fileInput type="file" (change)="changefile($event)"
                        accept=".jpeg, .png, .jpg;" name="fileInput" style="display: none;" />
                    </div>

                    <div class="col-xs-10 col-md-4">
                      <div class="form-group">
                        <label class="control-label" for="nomeCompleto">Nome Completo(*)</label>
                        <input type="text" id="nomeCompleto" placeholder="Nome Completo" name="nomeCompleto"
                          class="form-control" required minlength="4" [(ngModel)]="paciente.nomeCompleto"
                          #nomeCompleto="ngModel">
                        <div *ngIf="nomeCompleto.invalid" class="alert alert-danger">
                          <div *ngIf="nomeCompleto.errors.required"> Nome Obrigatório. </div>
                          <div *ngIf="nomeCompleto.errors.minlength"> Nome deve ter ao menos 4 caracteres. </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="control-label" for="estadoCivil">Estado Civil</label>
                        <select class="form-control" [(ngModel)]="paciente.estadoCivil" #estadoCivil="ngModel"
                          id="estadoCivil" name="estadoCivil">
                          <option>Solteiro(a)</option>
                          <option>Casado(a)</option>
                          <option>Divorciado(a)</option>
                        </select>
                      </div>

                      <div class="form-group">
                        <label class="control-label" for="nomeConjugue">Nome Cônjugue</label>
                        <input type="text" placeholder="Nome Cônjugue" id="nomeConjugue" name="nomeConjugue"
                          class="form-control" [(ngModel)]="paciente.nomeConjugue" #nomeConjugue="ngModel">
                      </div>

                    </div>

                    <div class="col-xs-4 col-md-2">
                      <div class="form-group">
                        <label class="control-label" for="cpf">CPF</label>
                        <input type="text" id="cpf" appValidacpf mask="000.000.000-00" placeholder="CPF" name="cpf"
                          class="form-control" [(ngModel)]="paciente.cpfCnpj" #cpf="ngModel">
                        <div *ngIf="cpf.invalid && cpf.errors?.validaCpf" class="alert alert-danger">
                          <div *ngIf="cpf.errors?.validaCpf"> CPF inválido. </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="control-label" for="ocupacao">Ocupação</label>
                        <input type="text" id="ocupacao" placeholder="Ocupação" name="ocupacao" class="form-control"
                          [(ngModel)]="paciente.ocupacao" #ocupacao="ngModel">
                      </div>

                      <div class="form-group">
                        <label class="control-label" for="nomePai">Nome Pai</label>
                        <input type="text" placeholder="Nome Pai" id="nomePai" name="nomePai" class="form-control"
                          [(ngModel)]="paciente.nomePai" #nomePai="ngModel">
                      </div>

                    </div>

                    <div class="col-xs-4 col-md-2">
                      <div class="form-group">
                        <label class="control-label" for="rg">RG</label>
                        <input type="text" id="rg" placeholder="RG" name="rg" class="form-control"
                          [(ngModel)]="paciente.rg" #rg="ngModel">
                      </div>

                      <div class="form-group">
                        <label class="control-label" for="tipoSanguineo">Tipo Sanguíneo</label>
                        <select class="form-control" [(ngModel)]="paciente.tipoSanguineo" #tipoSanguineo="ngModel"
                          id="tipoSanguineo" name="tipoSanguineo">
                          <option>A+</option>
                          <option>A-</option>
                          <option>AB+</option>
                          <option>AB-</option>
                          <option>B+</option>
                          <option>B-</option>
                          <option>O+</option>
                          <option>O-</option>
                        </select>
                      </div>

                      <div class="form-group">
                        <label class="control-label" for="nomeMae">Nome Mãe</label>
                        <input type="text" placeholder="Nome Mãe" id="nomeMae" name="nomeMae" class="form-control"
                          [(ngModel)]="paciente.nomeMae" #nomeMae="ngModel">
                      </div>
                    </div>
                    <div class="col-xs-3 col-md-2">
                      <div class="form-group">
                        <label class="control-label" for="dataNascimento">Data de Nascimento</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                          </div>
                          <input type="text" mask="00/00/0000" appValidaData id="dataNascimento" name="dataNascimento"
                            placeholder="01/01/1901" class="form-control" [(ngModel)]="dataNasci"
                            #dataNascimento="ngModel" (blur)="formataData($event)">
                        </div>
                        <div *ngIf="dataNascimento.errors?.validaData" class="alert alert-danger">
                          <div *ngIf="dataNascimento.errors?.validaData"> Data Inválida. </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <br />
                  <div class="row rowcadastro">
                    <div class="col-xs-4 col-md-2">
                      <label class="form-check-inline" for="ativo">Ativo</label>
                      <input class="form-check-inline" [(ngModel)]="paciente.ativo" checked name="ativo" id="ativo"
                        value="checked" type="checkbox">
                    </div>
                  </div>
                </div>
              </ng-template>
            </ngb-tab>

            <ngb-tab title="Contato">
              <ng-template ngbTabContent>
                <div id="tab_2" style="margin-top: 10px;" class="container col-sm-12 col-md-12">
                  <div class="row"></div>
                  <div class="row rowcadastro">

                    <div class="col-xs-6 col-md-3">
                      <div class="form-group">
                        <label class="control-label" for="celular">Celular(*)</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><i class="fa fa-mobile-phone"></i></span>
                          </div>
                          <input type="text" id="celular" name="celular" placeholder="Celular" class="form-control"
                            required [(ngModel)]="paciente.celular" mask="(00) 0 0000-0000" #celular="ngModel"
                            pattern="^[0-9]{11}$">
                        </div>
                        <div *ngIf="celular.invalid" class="alert alert-danger">
                          <div *ngIf="celular.errors.required"> Celular Obrigatório. </div>
                          <div *ngIf="celular.errors.pattern"> Celular Inválido. </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-xs-6 col-md-3">
                      <div class="form-group">
                        <label class="control-label" for="telefone">Telefone</label>
                        <div class="input-group mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><i class="fa fa-phone"></i></span>
                          </div>
                          <input type="text" id="telefone" placeholder="Telefone" name="telefone" class="form-control"
                            [(ngModel)]="paciente.telefone" mask="(00) 0000-0000" #telefone="ngModel">
                        </div>
                      </div>
                    </div>

                    <div class="col-xs-6 col-md-3">
                      <div class="form-group">
                        <label class="control-label" for="email">E-mail</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">@</span>
                          </div>
                          <input type="email" id="email" placeholder="paciente@email.com" name="email"
                            class="form-control" email [(ngModel)]="paciente.email" #emailInput="ngModel">
                        </div>
                        <div *ngIf="emailInput.invalid" class="alert alert-danger">
                          <div *ngIf="emailInput.errors.email"> E-mail inválido. </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-6 col-md-3">
                      <div class="form-group">
                        <label class="control-label" for="responsavel">Responsável</label>
                        <input type="text" id="responsavel" placeholder="Responsável" name="responsavel"
                          class="form-control" [(ngModel)]="paciente.responsavel" #responsavel="ngModel">
                      </div>
                    </div>
                  </div>

                  <div class="row rowcadastro">
                    <div class="col-xs-6 col-md-3">
                      <div class="form-group">
                        <label class="control-label" for="cep">CEP</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><img src="../../../assets/images/icon/logo-correio.png"
                                width="25" height="22"> </span>
                          </div>
                          <input type="text" id="cep" placeholder="CEP" name="cep" class="form-control"
                            [(ngModel)]="paciente.cep" #cep="ngModel" (blur)="buscaCep()" mask="00.000-000">
                        </div>
                      </div>
                    </div>

                    <div class="col-xs-6 col-md-3">
                      <div class="form-group">
                        <label class="control-label" for="endereco">Endereço</label>
                        <input type="text" id="endereco" placeholder="Endereço" name="endereco" class="form-control"
                          [(ngModel)]="paciente.endereco" #endereco="ngModel">
                      </div>
                    </div>

                    <div class="col-xs-6 col-md-3">
                      <div class="form-group">
                        <label class="control-label" for="numero">Número</label>
                        <input type="text" id="numero" placeholder="Número" name="numero" class="form-control"
                          [(ngModel)]="paciente.numero" #numero>
                      </div>
                    </div>

                    <div class="col-xs-6 col-md-3">
                      <div class="form-group">
                        <label class="control-label" for="complemento">Complemento</label>
                        <input type="text" id="complemento" placeholder="Complemento" name="complemento"
                          class="form-control" [(ngModel)]="paciente.complemento" #complemento="ngModel">
                      </div>
                    </div>
                  </div>

                  <div class="row rowcadastro">

                    <div class="col-xs-6 col-md-3">
                      <div class="form-group">
                        <label class="control-label" for="bairro">Bairro</label>
                        <input type="text" id="bairro" placeholder="Bairro" name="bairro" class="form-control"
                          [(ngModel)]="paciente.bairro" #bairro="ngModel">
                      </div>
                    </div>

                    <div class="col-xs-6 col-md-3">
                      <div class="form-group">
                        <label class="control-label" for="cidade">Cidade</label>
                        <input type="text" id="cidade" placeholder="Cidade" name="cidade" class="form-control"
                          [(ngModel)]="paciente.cidade" #cidade="ngModel">
                      </div>
                    </div>

                    <div class="col-xs-6 col-md-3">
                      <div class="form-group">
                        <label class="control-label" for="uf">Estado</label>
                        <select class="form-control" [(ngModel)]="paciente.uf" #uf="ngModel" id="uf" name="uf">
                          <option *ngFor="let codigo of estados | enumToArray">
                            {{codigo}}
                          </option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ngb-tab>
            <ngb-tab title="Convênio">
              <ng-template ngbTabContent>
                <div id="tab_3" style="margin-top: 10px;" class="container col-sm-12 col-md-12">
                  <div class="row"></div>

                  <div class="row rowcadastro">
                    <div class="col-xs-6 col-md-3">
                      <div class="form-group">
                        <label class="control-label" for="convenio">Convênio</label>
                        <div class="input-group">
                          <select class="form-control" [(ngModel)]="paciente.convenioId" #convenio="ngModel"
                            id="convenio" name="convenio">
                            <option *ngFor="let conv of convenios" [ngValue]="conv.id">
                              {{conv.descricao}}
                            </option>
                          </select>
                          <div class="input-group-prepend">
                            <ng-template #tipConvenio>Adiciona Convênio</ng-template>
                            <span (click)="adicionaConvenio()" [ngbTooltip]="tipConvenio" class="input-group-text"
                              id="img-adiciona-convenio">
                              <i class="fa fa-pencil"></i></span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row rowcadastro">
                    <div class="col-xs-8 col-md-4">
                      <div class="form-group">
                        <label class="control-label" for="numerocartao">Número Cartão</label>
                        <div class="input-group mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><i
                                class="fa fa-credit-card-alt"></i></span>
                          </div>
                          <input type="number" id="numeroCartao" name="numeroCartao" placeholder="Número Cartão"
                            class="form-control" [(ngModel)]="paciente.numeroCartao" #numeroCartao="ngModel">
                        </div>
                      </div>
                    </div>

                    <div class="col-xs-6 col-md-3">
                      <div class="form-group">
                        <label class="control-label" for="dataValidadeCartao">Data Validade Cartão</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                          </div>
                          <input type="text" mask="00/00/0000" appValidaData id="dataValidadeCartao"
                            name="dataValidadeCartao" placeholder="01/01/1901" class="form-control"
                            [(ngModel)]="dataValidade" #dataValidadeCartao="ngModel" (blur)="formataData($event)">
                        </div>
                        <div *ngIf="dataValidadeCartao.errors?.validaData" class="alert alert-danger">
                          <div *ngIf="dataValidadeCartao.errors?.validaData"> Data Inválida. </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-xs-8 col-md-4">
                      <div class="form-group">
                        <label class="control-label" for="cartaoNacionalSaude">Cartão Nacional de Saúde</label>
                        <div class="input-group mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><i
                                class="fa fa-credit-card-alt"></i></span>
                          </div>
                          <input type="number" id="cartaoNacionalSaude" name="cartaoNacionalSaude"
                            placeholder="Cartão Nacional de Saúde" class="form-control"
                            [(ngModel)]="paciente.cartaoNacionalSaude" #cartaoNacionalSaude="ngModel">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ngb-tab>
            <ngb-tab title="Prontuário">
              <ng-template ngbTabContent>
                <div id="tab_4" style="margin-top: 10px;" class="container col-sm-12 col-md-12">
                  <ngb-tabset type="pills" [destroyOnHide]="false">

                    <ngb-tab title="Informações">
                      <ng-template ngbTabContent>
                        <div id="tab_5" style="margin-top: 10px;" class="container col-sm-12 col-md-12">                          
                          <quill-editor [(ngModel)]="editorModel" [modules]="customToolbar" id="editorModel" name="editorModel"
                            (onEditorCreated)="getEditorInstance($event)" [sanitize]="true"
                            [placeholder]="'Monte o prontuário aqui...'" [styles]="{height: '350px'}"></quill-editor>
                        </div>
                      </ng-template>
                    </ngb-tab>
                    <ngb-tab title="Arquivos e Imagens">
                      <ng-template ngbTabContent>
                      </ng-template>
                    </ngb-tab>

                  </ngb-tabset>
                </div>
              </ng-template>
            </ngb-tab>

            <ngb-tab title="Obstetrícia" *ngIf="exibeAbaEspecialidade">
              <ng-template ngbTabContent>
                <div id="tab_3" style="margin-top: 10px;" class="container col-sm-12 col-md-12">
                  <div class="row"></div>
                  <div class="row rowcadastro">
                    <div class="col-xs-6 col-md-3">
                      <div class="form-group">
                        <label class="control-label" for="dataUltimaMenstruacao">DUM</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                          </div>
                          <input type="text" mask="00/00/0000" id="dataUltimaMenstruacao" name="dataUltimaMenstruacao"
                            placeholder="01/01/1901" appValidaData class="form-control" [(ngModel)]="dataUltimaMenstru"
                            #dataUltimaMenstruacao="ngModel" (blur)="formataData($event)">
                        </div>
                        <div *ngIf="dataUltimaMenstruacao.errors?.validaData" class="alert alert-danger">
                          <div *ngIf="dataUltimaMenstruacao.errors?.validaData"> Data Inválida.</div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-6 col-md-3">
                      <div class="form-group">
                        <label class="control-label" for="semanaIdaDeGestacao">Semana(s) IG ECO</label>
                        <select class="form-control" [(ngModel)]="paciente.semanaGestacao"
                          #semanaIdaDeGestacao="ngModel" id="semanaIdaDeGestacao" name="semanaIdaDeGestacao">
                          <option *ngFor="let semana of semanasGestacao | enumToArray">
                            {{semana}}
                          </option>
                        </select>
                      </div>
                    </div>
                    <div class="col-xs-6 col-md-3">
                      <div class="form-group">
                        <label class="control-label" for="diaIdadeGestacao">Dia(s) IG ECO</label>
                        <select class="form-control" [(ngModel)]="paciente.diaGestacao" #diaIdadeGestacao="ngModel"
                          id="diaIdadeGestacao" name="diaIdadeGestacao">
                          <option *ngFor="let dia of diasGestacao | enumToArray">
                            {{dia}}
                          </option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ngb-tab>
          </ngb-tabset>
          <div class="panel-footer rowcadastro">
            <div class="form-group">
              <div class="col-xs-8 col-md-6">
                <button style="width:40%" class="btn btn-rounded btn-success" [disabled]="!pacienteForm.form.valid"
                  (click)="salvar()" [ngbTooltip]="tipSalvar">Salvar</button>
                <a href="javascript:history.back()" style="width:40%" class="btn btn-rounded btn-danger">Cancelar</a>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>