<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <form (ngSubmit)="onSubmit()" #localForm="ngForm">
          <div [hidden]="localForm.submitted">
            <div id="tab_1" style="margin-top: 10px;" class="container col-sm-12 col-md-12">
              <div class="row"></div>
              <div class="row rowcadastro">
                <div class="col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label" for="descricao">Descrição(*)</label>
                    <input type="text" id="descricao" placeholder="Descrição" name="descricao"
                      class="form-control" appValidaDescricaoLocal required 
                      [(ngModel)]="local.descricao" #descricao="ngModel">
                    <div
                      *ngIf="descricao.invalid || descricao.errors?.validaDescricaoLocal"
                      class="alert alert-danger">
                      <div *ngIf="descricao.errors.required"> Descrição Obrigatória. </div>
                      <div *ngIf="descricao.errors?.validaDescricaoLocal"> Já existe um local com esta descrição cadastrado. </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="panel-footer rowcadastro">
            <div class="form-group">
              <div class="col-xs-8 col-md-6">
                <!--  -->
                <button style="width:40%" class="btn btn-rounded btn-success" [disabled]="!localForm.form.valid"
                  type="submit">Salvar</button>
                <a href="javascript:history.back()" style="width:40%" class="btn btn-rounded btn-danger">Cancelar</a>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>