<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <form (ngSubmit)="onSubmit()" #exameForm="ngForm">
          <div [hidden]="exameForm.submitted">
            <div id="tab_1" style="margin-top: 10px;" class="container col-sm-12 col-md-12">
              <div class="row"></div>
              <div class="row rowcadastro">
                <div class="col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label" for="descricao">Descrição(*)</label>
                    <input type="text" id="descricao" placeholder="Descrição" name="descricao"
                      class="form-control" appValidaDescricaoExame required 
                      [(ngModel)]="exame.descricao" #descricao="ngModel">
                    <div
                      *ngIf="descricao.invalid || descricao.errors?.validaDescricaoExame"
                      class="alert alert-danger">
                      <div *ngIf="descricao.errors.required"> Descrição Obrigatória. </div>
                      <div *ngIf="descricao.errors?.validaDescricaoExame"> Já existe um exame com esta descrição cadastrado. </div>
                    </div>
                  </div>
                </div>
                <div class="col-xs-6 col-md-3">
                    <div class="form-group">
                      <label class="control-label" for="corFundo">Cor</label>
                      <input type="color" required class="form-control" [(ngModel)]="exame.corFundo"
                        #corFundo="ngModel" id="corFundo" name="corFundo">
                      <div *ngIf="corFundo.invalid" class="alert alert-danger">
                        <div *ngIf="corFundo.errors.required"> Cor Obrigatória. </div>
                      </div>
                    </div>
                  </div>
                  <!-- <div class="col-xs-6 col-md-3">
                    <div class="form-group">
                      <label class="control-label" for="corLetra">Cor Letra</label>
                      <input type="color" required class="form-control" [(ngModel)]="exame.corLetra"
                        #corLetra="ngModel" id="corLetra" name="corLetra">
                      <div *ngIf="corLetra.invalid" class="alert alert-danger">
                        <div *ngIf="corLetra.errors.required"> Cor Letra Obrigatória. </div>
                      </div>
                    </div>
                  </div> -->
              </div>
            </div>
          </div>
          <div class="panel-footer rowcadastro">
            <div class="form-group">
              <div class="col-xs-8 col-md-6">
                <!--  -->
                <button style="width:40%" class="btn btn-rounded btn-success" [disabled]="!exameForm.form.valid"
                  type="submit">Salvar</button>
                <a href="javascript:history.back()" style="width:40%" class="btn btn-rounded btn-danger">Cancelar</a>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>