<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="spinner" *ngIf=isSpinnerVisible>
                    <div class="double-bounce1"></div>
                    <div class="double-bounce2"></div>
                </div>
                <div class="table table-responsive smart-table" *ngIf=!isSpinnerVisible>
                    <ng2-smart-table [(settings)]="settings" [(source)]="source" class="" (edit)="editarRegistro($event)"
                        (create)="criarRegistro($event)" (delete)="deletarRegistro($event)">
                    </ng2-smart-table>
                </div>
            </div>
        </div>
    </div>
</div>>