<!-- ============================================================== -->
<!-- Info box -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-12">
        <app-income-counter></app-income-counter>
    </div>
</div>
<!-- ============================================================== -->
<!-- Campaign -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-lg-8">
        <div class="card">
            <div class="card-body">
                <div class="d-flex m-b-30">
                    <h5 class="card-title m-b-0 align-self-center">Agendamentos</h5>
                    <div class="ml-auto align-self-center">
                        <ul class="list-inline font-12">
                            <li><i class="fa fa-circle" style="color: rgb(0,153,0);"></i> Confirmado(s)</li> 
                            <li><i class="fa fa-circle" style="color: rgb(0,0,255);"></i> Pago/Finalizado(s)</li> 
                            <li><i class="fa fa-circle" style="color: rgb(255,0,0);"></i> Cancelado(s)</li> 
                            <li><i class="fa fa-circle" style="color: rgb(255,102,0);"></i> Atrasado(s)</li>
                        </ul>
                    </div>
                </div>
                <div style="height:350px;">
                    <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
                        [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType"> </canvas>
                </div>
                <div class="row text-center">
                    <div class="col-lg-3 col-md-3 m-t-20">
                        <h2 class="m-b-0 font-light">5098</h2><small>Confirmado(s)</small>
                    </div>
                    <div class="col-lg-3 col-md-3 m-t-20">
                        <h2 class="m-b-0 font-light">5098</h2><small>Pago/Finalizado(s)</small>
                    </div>
                    <div class="col-lg-3 col-md-3 m-t-20">
                        <h2 class="m-b-0 font-light">4156</h2><small>Cancelado(s)</small>
                    </div>
                    <div class="col-lg-3 col-md-3 m-t-20">
                        <h2 class="m-b-0 font-light">1369</h2><small>Atrasado(s)</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card">
            <div class="card-body">
                <div class="d-flex m-b-30 no-block">
                    <h5 class="card-title m-b-0 align-self-center">Agendamentos Por Médico</h5>
                </div>
                <div class="piechart">
                    <x-chartist class="" [data]="donuteChart1.data" [type]="donuteChart1.type" [options]="donuteChart1.options"
                        [responsiveOptions]="donuteChart1.responsiveOptions" [events]="donuteChart1.events">
                    </x-chartist>
                </div>
                <ul class="list-inline m-t-30 text-center font-12">
                    <li><i class="fa fa-circle text-purple"></i> Médico 1</li>
                    <li><i class="fa fa-circle text-success"></i> Médico 2</li>
                    <li><i class="fa fa-circle text-info"></i> Médico 3</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- End Campaign -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Today's Schedule and sales overview -->
<!-- ============================================================== -->
<div class="row">
    <!-- Column -->
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="d-flex">
                    <div>
                        <h5 class="card-title">Agendamentos Por Médico</h5>
                    </div>
                </div>
            </div>
            <div class="card-body bg-light">
                <div class="row">
                    <div class="col-6">
                        <h4 class="font-light m-t-0">Total Agendamentos</h4>
                    </div>
                    <div class="col-6 align-self-center display-6 text-info text-right">R$ 3,690</div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th class="text-center">#</th>
                            <th>Nome</th>
                            <th>Qtd. Agendamentos</th>
                            <th>Total</th>
                            <th>Média por Agendamento</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center">1</td>
                            <td class="txt-oflo">Elite admin</td>
                            <td><span class="label label-success label-rouded">SALE</span> </td>
                            <td class="txt-oflo">April 18, 2017</td>
                            <td><span class="text-success">$24</span></td>
                        </tr>
                        <tr>
                            <td class="text-center">2</td>
                            <td class="txt-oflo">Real Homes WP Theme</td>
                            <td><span class="label label-info label-rouded">EXTENDED</span></td>
                            <td class="txt-oflo">April 19, 2017</td>
                            <td><span class="text-info">$1250</span></td>
                        </tr>
                        <tr>
                            <td class="text-center">3</td>
                            <td class="txt-oflo">Ample Admin</td>
                            <td><span class="label label-info label-rouded">EXTENDED</span></td>
                            <td class="txt-oflo">April 19, 2017</td>
                            <td><span class="text-info">$1250</span></td>
                        </tr>
                        <tr>
                            <td class="text-center">4</td>
                            <td class="txt-oflo">Medical Pro WP Theme</td>
                            <td><span class="label label-danger label-rouded">TAX</span></td>
                            <td class="txt-oflo">April 20, 2017</td>
                            <td><span class="text-danger">-$24</span></td>
                        </tr>
                        <tr>
                            <td class="text-center">5</td>
                            <td class="txt-oflo">Hosting press html</td>
                            <td><span class="label label-warning label-rouded">SALE</span></td>
                            <td class="txt-oflo">April 21, 2017</td>
                            <td><span class="text-success">$24</span></td>
                        </tr>
                        <tr>
                            <td class="text-center">6</td>
                            <td class="txt-oflo">Digital Agency PSD</td>
                            <td><span class="label label-success label-rouded">SALE</span> </td>
                            <td class="txt-oflo">April 23, 2017</td>
                            <td><span class="text-danger">-$14</span></td>
                        </tr>
                        <tr>
                            <td class="text-center">7</td>
                            <td class="txt-oflo">Helping Hands WP Theme</td>
                            <td><span class="label label-warning label-rouded">member</span></td>
                            <td class="txt-oflo">April 22, 2017</td>
                            <td><span class="text-success">$64</span></td>
                        </tr>
                        <tr>
                            <td class="text-center">8</td>
                            <td class="txt-oflo">Ample Admin</td>
                            <td><span class="label label-info label-rouded">EXTENDED</span></td>
                            <td class="txt-oflo">April 19, 2017</td>
                            <td><span class="text-info">$1250</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>