<div class="spinner" *ngIf=isSpinnerVisible>
    <div class="double-bounce1"></div>
    <div class="double-bounce2"></div>
</div>
<div *ngIf="!isSpinnerVisible">
    <div class="row">
        <div class="col-12">

            <div class="card col-12">
                <div class="card-body" style="padding: 0.5rem">

                    <div class="col-md-12">
                        <div class="row form-group" style="margin-bottom: 10px;">
                            <div class="btn-group" style="margin: 0 auto;text-align: center;">
                                <button class="btn btn-light" style="background-color: transparent;"
                                    (click)="trocarData('Anterior')">
                                    <span class="fa fa-backward" title="Anterior"></span>
                                </button>
                                &nbsp;&nbsp;
                                <button class="btn btn-light" style="background-color: transparent;"
                                    (click)="trocarData('Próximo')">
                                    <span class="fa fa-forward" title="Próximo"></span>
                                </button>
                                &nbsp;&nbsp;

                                <input class="form-control" placeholder="yyyy-mm-dd" hidden name="dp"
                                    [displayMonths]="2" [outsideDays]="visible" [autoClose]="'false'"
                                    [startDate]="fromDate" [showWeekNumbers]="true" ngbDatepicker [dayTemplate]="t"
                                    [(ngModel)]="dataPicker" (dateSelect)="selecionaDataPicker($event)"
                                    #datePickerNgb="ngbDatepicker" [footerTemplate]="footerDatePicker">

                                <button class="btn btn-light" style="background-color: transparent;"
                                    (click)="abrirCalendario()">
                                    <span class="fa fa-calendar fa-2x"></span>
                                </button>
                                &nbsp;&nbsp;
                                <h1><strong>{{titulo}}</strong></h1>
                            </div>

                        </div>

                        <div class="row form-group" style="margin-bottom: 0px;">

                            <div class="col-xs-5 col-md-4">
                                <div class="form-group" style="margin-bottom: 0px;">
                                    <label class="control-label" for="medicoModel">Médico</label>
                                    <select class="form-control" [(ngModel)]="medico" #medicoModel="ngModel"
                                        id="medicoModel" name="medicoModel">
                                        <option *ngFor="let med of medicos" [ngValue]="med">
                                            {{med.nomeCompleto}}
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-xs-5 col-md-4">
                                <div class="form-group" style="margin-bottom: 0px;">
                                    <label class="control-label" for="caixaModel">Caixa</label>
                                    <div class="input-group">
                                        <input id="caixaSelecionado" name="caixaSelecionado" type="text"
                                            (selectItem)="selecionaCaixa($event)"
                                            placeholder="Digite uma data ou o nome do funcionário"
                                            [ngbTypeahead]="buscaCaixa" class="form-control" #caixaModel="ngModel"
                                            id="caixaModel" [(ngModel)]="caixaSelecionado">
                                    </div>
                                    <div *ngIf="(falhaNaBusca || caixaModel.invalid)" class="alert alert-warning">
                                        <div *ngIf="falhaNaBusca">Não foi possível encontrar um caixa com esta busca.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-5 col-md-3">
                                <div class="form-group" style="margin-bottom: 0px;">
                                    <label class="control-label" for="funcionarioModel">Funcionário</label>

                                    <select class="form-control" [(ngModel)]="funcionario" #funcionarioModel="ngModel"
                                        id="funcionarioModel" name="funcionarioModel">
                                        <option *ngFor="let func of funcionarios" [ngValue]="func">
                                            {{func.nomeCompleto}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-4 col-md-1">
                                <div class="form-group" style="margin-bottom: 0px;">
                                    <button style="margin-top: 30px;" class="btn-success btn-rounded"
                                        (click)="buscar()">Buscar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-row">
                                <div class="round align-self-center round-primary"><i class="ti-wallet"></i></div>
                                <div class="m-l-10 align-self-center">
                                    <h3 class="m-b-0">{{tempoMedioAgendamento}}</h3>
                                    <h5 class="text-muted m-b-0">Tempo Médio</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-row">
                                <div class="round align-self-center round-success"><i class="ti-wallet"></i></div>
                                <div class="m-l-10 align-self-center">
                                    <h3 class="m-b-0">{{totalRecebido}}</h3>
                                    <h5 class="text-muted m-b-0">Total Recebido</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-row">
                                <div class="round align-self-center round-info"><i class="ti-wallet"></i></div>
                                <div class="m-l-10 align-self-center">
                                    <h3 class="m-b-0">{{totalAPagar}}</h3>
                                    <h5 class="text-muted m-b-0">Total a Pagar</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-row">
                                <div class="round align-self-center round-danger"><i class="ti-wallet"></i></div>
                                <div class="m-l-10 align-self-center">
                                    <h3 class="m-b-0">{{lucroBruto}}</h3>
                                    <h5 class="text-muted m-b-0">Lucro Bruto</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-row">
                                <div class="round align-self-center round-primary"><i class="ti-wallet"></i></div>
                                <div class="m-l-10 align-self-center">
                                    <h3 class="m-b-0">{{totalAgendados}}</h3>
                                    <h5 class="text-muted m-b-0">Agendados</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-row">
                                <div class="round align-self-center round-success"><i class="ti-wallet"></i></div>
                                <div class="m-l-10 align-self-center">
                                    <h3 class="m-b-0">{{totalConfirmados}}</h3>
                                    <h5 class="text-muted m-b-0">Confirmados</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-row">
                                <div class="round align-self-center round-info"><i class="ti-wallet"></i></div>
                                <div class="m-l-10 align-self-center">
                                    <h3 class="m-b-0">{{totalFinalizados}}</h3>
                                    <h5 class="text-muted m-b-0">Finalizados</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-row">
                                <div class="round align-self-center round-primary"><i class="ti-wallet"></i></div>
                                <div class="m-l-10 align-self-center">
                                    <h3 class="m-b-0">{{totalCancelados}}</h3>
                                    <h5 class="text-muted m-b-0">Cancelado(s)</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <!-- Column -->
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <ngb-tabset type="pills" [destroyOnHide]="false">
                        <ngb-tab title="Agendamentos">
                            <ng-template ngbTabContent>
                                <div id="tab_1" style="margin-top: 10px;" class="container col-sm-12 col-md-12">
                                    
                                    <div class="card-body bg-light">
                                        <div class="row">
                                            <div class="col-6">
                                                <h4 class="font-light m-t-0">Total Agendamentos</h4>
                                            </div>
                                            <div class="col-6 align-self-center display-6 text-info text-right">
                                                {{totalAgendamentosMedicos}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="table table-responsive smart-table">
                                        <ng2-smart-table [(settings)]="settingsAgendamentosMedicos" (edit)="visualizarAgendamentosMedico($event)"
                                            [(source)]="sourceAgendamentosMedicos" class=""></ng2-smart-table>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab title="Entradas">
                            <ng-template ngbTabContent>
                                <div id="tab_1" style="margin-top: 10px;" class="container col-sm-12 col-md-12">
                                    <div class="card-body bg-light">
                                        <div class="row">
                                            <div class="col-6">
                                                <h4 class="font-light m-t-0">Total Entradas</h4>
                                            </div>
                                            <div class="col-6 align-self-center display-6 text-info text-right">
                                                {{totalEntradas}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="table table-responsive smart-table">
                                        <ng2-smart-table [(settings)]="settingsEntradasSaidas"
                                            [(source)]="sourceEntradas" class=""></ng2-smart-table>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab title="Saídas">
                            <ng-template ngbTabContent>
                                <div id="tab_1" style="margin-top: 10px;" class="container col-sm-12 col-md-12">
                                    <div class="card-body bg-light">
                                        <div class="row">
                                            <div class="col-6">
                                                <h4 class="font-light m-t-0">Total Saídas</h4>
                                            </div>
                                            <div class="col-6 align-self-center display-6 text-info text-right">
                                                {{totalAPagar}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="table table-responsive smart-table">
                                        <ng2-smart-table [(settings)]="settingsEntradasSaidas" 
                                            [(source)]="sourceSaidas" class=""></ng2-smart-table>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>
                    </ngb-tabset>
                    
                </div>
            </div>
        </div>
    </div>
</div>


<ng-template #t let-date let-focused="focused">
    <span class="custom-day" [class.focused]="focused" [class.range]="isRange(date)"
        [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date"
        (mouseleave)="hoveredDate = null">
        {{ date.day }}
    </span>
</ng-template>

<ng-template #footerDatePicker>
    <hr class="my-0">
    <button class="btn btn-primary btn-sm m-2 float-left" (click)="hojeDatePicker()">Hoje</button>
    &nbsp;

    <input type="text" mask="00/00/0000" id="dataIrPara" #dataIrPara placeholder="31/12/2001" class="form-control"
        style="width: 120px;">
    <button class="btn btn-primary btn-sm m-2" (click)="irParaDatePicker(dataIrPara.value)">Ir Para</button>

</ng-template>

