<div class="spinner" *ngIf=isSpinnerVisible>
    <div class="double-bounce1"></div>
    <div class="double-bounce2"></div>
</div>
<div *ngIf="!isSpinnerVisible">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="card col-12">
                    <div class="card-body">
                        <div class="row">
                            
                            <label style="display: block;" for="dataInicio">Período</label>
                            <div class="input-group col-md-2">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                </div>
                                <input type="text" mask="00/00/0000" required id="dataInicio" name="dataInicio"
                                    placeholder="01/01/1901" class="form-control" [(ngModel)]="dataInicial"
                                    #dataInicio="ngModel" (blur)="formataData($event)">
                            </div>

                            <label style="display: block;">Até</label>
                            <div class="input-group col-md-2">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                </div>
                                <input type="text" mask="00/00/0000" required id="dataFim" name="dataFim"
                                    placeholder="01/01/1901" class="form-control" [(ngModel)]="dataFinal"
                                    #dataFim="ngModel" (blur)="formataData($event)">
                            </div>

                            <label style="display:block;" for="medicoModel">Médico</label>
                            <div class="col-md-3">
                                <select class="form-control" [(ngModel)]="medico" #medicoModel="ngModel" id="medicoModel"
                                    name="medicoModel">
                                    <option *ngFor="let med of medicos" [ngValue]="med">
                                        {{med.nomeCompleto}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-2">
                                <button class="btn-success btn-rounded" (click)="buscar()">Buscar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-row">
                                <div class="round align-self-center round-success"><i class="ti-wallet"></i></div>
                                <div class="m-l-10 align-self-center">
                                    <h3 class="m-b-0">{{totalRecebido}}</h3>
                                    <h5 class="text-muted m-b-0">Total Recebido</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-row">
                                <div class="round align-self-center round-primary"><i class="ti-wallet"></i></div>
                                <div class="m-l-10 align-self-center">
                                    <h3 class="m-b-0">{{tempoMedioAgendamento}}</h3>
                                    <h5 class="text-muted m-b-0">Tempo Médio</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-row">
                                <div class="round align-self-center round-info"><i class="ti-wallet"></i></div>
                                <div class="m-l-10 align-self-center">
                                    <h3 class="m-b-0">{{totalAPagar}}</h3>
                                    <h5 class="text-muted m-b-0">Total a Pagar</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-row">
                                <div class="round align-self-center round-danger"><i class="ti-wallet"></i></div>
                                <div class="m-l-10 align-self-center">
                                    <h3 class="m-b-0">{{projecaoLucroBruto}}</h3>
                                    <h5 class="text-muted m-b-0">Projeção Lucro Bruto</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-row">
                                <div class="round align-self-center round-primary"><i class="ti-wallet"></i></div>
                                <div class="m-l-10 align-self-center">
                                    <h3 class="m-b-0">{{totalAgendados}}</h3>
                                    <h5 class="text-muted m-b-0">Agendados</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-row">
                                <div class="round align-self-center round-success"><i class="ti-wallet"></i></div>
                                <div class="m-l-10 align-self-center">
                                    <h3 class="m-b-0">{{totalConfirmados}}</h3>
                                    <h5 class="text-muted m-b-0">Confirmados</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-row">
                                <div class="round align-self-center round-info"><i class="ti-wallet"></i></div>
                                <div class="m-l-10 align-self-center">
                                    <h3 class="m-b-0">{{totalFinalizados}}</h3>
                                    <h5 class="text-muted m-b-0">Finalizados</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-row">
                                <div class="round align-self-center round-primary"><i class="ti-wallet"></i></div>
                                <div class="m-l-10 align-self-center">
                                    <h3 class="m-b-0">{{totalCancelados}}</h3>
                                    <h5 class="text-muted m-b-0">Cancelado(s)</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <!-- Column -->
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex">
                        <div>
                            <h5 class="card-title">Agendamentos Por Médico</h5>
                        </div>
                    </div>
                </div>
                <div class="card-body bg-light">
                    <div class="row">
                        <div class="col-6">
                            <h4 class="font-light m-t-0">Total Agendamentos</h4>
                        </div>
                        <div class="col-6 align-self-center display-6 text-info text-right">{{totalAgendamentosMedicos}}
                        </div>
                    </div>
                </div>
                <div class="table table-responsive smart-table">
                    <ng2-smart-table [(settings)]="settingsAgendamentosMedicos" [(source)]="sourceAgendamentosMedicos"
                        class=""></ng2-smart-table>
                </div>
            </div>
        </div>
    </div>
</div>