<div class="spinner" *ngIf=isSpinnerVisible>
    <div class="double-bounce1"></div>
    <div class="double-bounce2"></div>
</div>
<div class="row" *ngIf=!isSpinnerVisible>
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <ul class="timeline" *ngFor="let time of listaTimeline">
                    <li [ngClass]="time.par ? 'timeline-inverted' : ''">
                        <div class="timeline-badge" [style.backgroundColor]="time.cor"> </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">{{time.titulo}}</h4>
                                <p><small class="text-muted"><i class="fa fa-clock-o"></i> {{time.dataHora}}</small>
                                </p>
                            </div>
                            <div class="timeline-body" >
                                <p style="white-space: pre-line">{{time.descricao}}</p>

                                <hr *ngIf="time.agendamentoId || time.contaReceber != null">
                                <div class="btn-group" *ngIf="time.agendamentoId || time.contaReceber != null">
                                    <ng-template #tipAgendamento>Detalhes Agendamento</ng-template>
                                    <ng-template #tipContaReceber>Detalhes Conta a Receber</ng-template>

                                    <button *ngIf="time.agendamentoId" [ngbTooltip]="tipAgendamento"
                                        (click)="chamaAgendamento(time.agendamentoId)" type="button"
                                        class="btn btn-primary btn-sm btn-info" style="margin-right: 2px;">
                                        <i class="fa fa-calendar"></i> 
                                    </button>
                                    <button *ngIf="time.contaReceber != null" [ngbTooltip]="tipContaReceber"
                                        (click)="chamaContaReceber(time)" type="button"
                                        class="btn btn-sm btn-dark" style="margin-right: 2px;"> <i
                                            class="fa fa-money"></i>
                                    </button>
                                </div>

                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>