<div class="spinner" *ngIf=isSpinnerVisible>
    <div class="double-bounce1"></div>
    <div class="double-bounce2"></div>
  </div>
<form id="formAlteraSenha" *ngIf=!isSpinnerVisible>
    <div class="modal-header">
        <h4 class="modal-title">Alterar Clínica</h4>
        <button type="button" class="close" aria-label="Fechar" (click)="fechar()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row col-xs-12 col-md-12" style="margin: 0 auto;" *ngFor="let cli of clinicas">
            <button (click)="trocarClinica(cli.id)" [id]="cli.id" [name]="cli.id" class="btn btn-block btn-rounded btn-outline-primary" 
            style="margin-bottom: 10px;"> 
            {{cli.razaoSocial}} <br /> {{cli.cnpj}} </button>
        </div>
    </div>
    <div class="modal-footer">
        <button style="width:40%" (click)="fechar()" id="btnCancelar"
            class="btn btn-rounded btn-warning">Cancelar</button>
    </div>
</form>