<div class="modal-header">
    <h4 class="modal-title">Adiciona Ofício</h4>
    <button type="button" class="close" aria-label="Fechar" (click)="activeModal.dismiss()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <label class="control-label" for="descricao">Descrição(*)</label>
    <input type="text" id="descricao" placeholder="Descrição" name="descricao" class="form-control" required [(ngModel)]="oficio.descricao" #descricao="ngModel">
    <div *ngIf="descricao.invalid && (descricao.dirty || descricao.touched) && (descricao.errors?.validaNomeOficio)"
        class="alert alert-danger">
        <div *ngIf="descricao.errors.required"> Descrição Obrigatório. </div>
    </div>
</div>
<div class="modal-footer">
    <button style="width:40%" (click)="salvar()" class="btn btn-rounded btn-success" [disabled]="descricao.invalid"
        type="submit">Salvar</button>
    <button type="button" style="width:40%" class="btn btn-rounded btn-danger"
        (click)="activeModal.close()">Cancelar</button>
</div>