<div class="spinner" *ngIf="isSpinnerVisible">
  <div class="double-bounce1"></div>
  <div class="double-bounce2"></div>
</div>
<div class="row">
  <div class="col-12">
    <h4 *ngIf="mensagemCaixaAberto != ''">{{mensagemCaixaAberto}}</h4>
  </div>
</div>

<div class="row" *ngIf=!isSpinnerVisible>

  <div class="col-lg-3 col-xlg-3 col-md-4" style="padding: 0px; padding-right: 5px;">

    <div class="card" style="margin-bottom: 10px;">
      <div class="card-body" style="padding: 0px; padding-right: 2px;">
        <div class="col-lg-12 col-xlg-12 col-md-12" style="padding: 5px;">

          <div style="margin:10px;">
            <h5><span class="fa fa-user-md"></span> Médicos</h5>
          </div>

          <div [ngClass]="{'btn-selecionado' : med.id === medico.id, 'media' : true, 'btn-outline-info' : true}"
            (click)="trocaMedico(med.id)" *ngFor="let med of medicos" style="height: 60px;">
            <div class="media-left">
              <img [src]="med.foto" class="media-object img-circle" style="width:35px; height:35px;">
            </div>
            <div class="media-body text-center">
              <h5 class="mt-0">{{med.nomeCompleto}} </h5>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-body" style="padding: 0px; padding-right: 2px;">

        <div class="col-lg-12 col-xlg-12 col-md-12" style="padding: 5px;">

          <div style="margin:10px;">
            <h5><span class="fa fa-check-circle"></span> Ações</h5>
          </div>

          <div class="row">
            <div class="btn-group col-md-12" style="margin:10px;">
              <div class="col-md-6">
                <button class="btn btn-primary" style="width: 130px;" (click)="abrirFecharCaixa('abrir')">
                  <div class="media-left">
                    <img src="../../assets/images/icon/extra-debito.png" class="media-object img-circle">
                  </div>
                  Extra Débito
                </button>
              </div>
              <div class="col-md-6">
                <button class="btn btn-danger" style="width: 130px;" (click)="abrirFecharCaixa('fechar')">
                  <div class="media-left">
                    <img src="../../assets/images/icon/extra-credito.png" class="media-object img-circle">
                  </div>
                  Extra Crédito
                </button>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="btn-group col-md-12" style="margin:10px;">
              <div class="col-md-6">
                <button class="btn btn-outline-success" style="width: 130px;" (click)="abrirFecharCaixa('abrir')">
                  Abrir Caixa
                </button>
              </div>
              <div class="col-md-6">
                <button class="btn btn-outline-warning" style="width: 130px;" (click)="abrirFecharCaixa('fechar')">
                  Fechar Caixa
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="col-lg-9 col-xlg-9 col-md-8" style="padding: 0px;">

    <div class="card">
      <div class="card-body">
        <div class="col-lg-12 col-xlg-12 col-md-12" style="padding: 0px;">
          <div class="row">

            <div class="col-md-3" style="text-align: left;">

              <div class="btn-group">
                <button class="btn btn-outline-secondary btn-rounded" (click)="trocarData()" mwlCalendarToday
                  [(viewDate)]="viewDate">
                  Hoje
                </button>
                <button class="btn btn-outline-secondary btn-rounded" (click)="setView(CalendarView.Week)"
                  [class.active]="view === CalendarView.Week">
                  Semana
                </button>
                <button class="btn btn-outline-secondary btn-rounded" (click)="setView(CalendarView.Day)"
                  [class.active]="view === CalendarView.Day">
                  Dia
                </button>
              </div>
            </div>

            <div class="col-md-6" style="text-align: center;">

              <div class="btn-group">
                <button class="btn btn-light" style="background-color: transparent;" (click)="trocarData()"
                  mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
                  (viewDateChange)="closeOpenMonthViewDay()" [excludeDays]="diasExcluidos">
                  <span class="fa fa-backward" title="Anterior"></span>
                </button>
                &nbsp;&nbsp;
                <button class="btn btn-light" style="background-color: transparent;" (click)="trocarData ()"
                  [excludeDays]="diasExcluidos" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
                  (viewDateChange)="closeOpenMonthViewDay()">
                  <span class="fa fa-forward" title="Próximo"></span>
                </button>
                &nbsp;&nbsp;

                <input class="form-control" placeholder="yyyy-mm-dd" hidden name="dp" [displayMonths]="2"
                  [navigation]="select" [outsideDays]="visible" [showWeekNumbers]="true" ngbDatepicker
                  [(ngModel)]="dataPicker" (dateSelect)="selecionaDataPicker($event)" #datePickerNgb="ngbDatepicker"
                  [footerTemplate]="footerDatePicker">
                <button class="btn btn-light" style="background-color: transparent;" (click)="datePickerNgb.toggle()">
                  <span class="fa fa-calendar fa-2x"></span>
                </button>
                &nbsp;&nbsp;
                <h2><strong>{{(viewDate | calendarDate:(view + 'ViewTitle'):'pt-br').toUpperCase()}}</strong>
                </h2>
              </div>

            </div>

            <div class="col-md-3" style="text-align: right;">
              <button class="btn " style="background-color: transparent;" (click)=configurarAgendaMedico()>
                <span class="fa fa-2x fa-cog fa-spin" title="Configurar Agenda"></span>&nbsp;&nbsp;
              </button>
              <button class="btn btn-outline-success btn-rounded"
                (click)="chamarModalAdicionaAgendamento(null, 'novo')">
                <span class="fa fa-2x fa-calendar-plus-o" title="Novo Agendamento"></span>
              </button>

            </div>
          </div>
          <br />

          <div class="row" *ngIf="!isSpinnerVisibleAgenda && !isSpinnerVisible">
            <div class="col-md-12 col-lg-12">
              <div [ngSwitch]="view">
                <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate"
                  [dayStartHour]="horaInicialCalendario" [dayEndHour]="horaFinalCalendario" [events]="eventos"
                  [refresh]="refresh" (eventClicked)="actionAgendamento($event.event)"
                  (eventTimesChanged)="eventTimesChanged($event)" [hourSegmentTemplate]="weekViewHourSegmentTemplate"
                  [excludeDays]="diasExcluidos" [hourSegments]="configuracaoMinutos">
                </mwl-calendar-week-view>

                <ng-template #weekViewHourSegmentTemplate let-segment="segment" let-locale="locale"
                  let-segmentHeight="segmentHeight" let-isTimeLabel="isTimeLabel">
                  <div #segmentElement class="cal-hour-segment hora-desabilitada"
                    [class.hora-desabilitada]="validaHoraIntervaloComponente(segment.date)"
                    [style.height.px]="segmentHeight" [class.cal-hour-start]="true" [class.cal-after-hour-start]="false"
                    [ngClass]="segment.cssClass" (mousedown)="startDragToCreate(segment, $event, segmentElement)">
                    <div class="cal-time" *ngIf="isTimeLabel">
                      {{ segment.date | calendarDate:'weekViewHour':locale }}
                    </div>
                  </div>
                </ng-template>

                <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [dayStartHour]="horaInicialCalendario"
                  [dayEndHour]="horaFinalCalendario" [viewDate]="viewDate" [events]="eventos" [refresh]="refresh"
                  (eventClicked)="actionAgendamento($event.event)" (eventTimesChanged)="eventTimesChanged($event)"
                  [hourSegments]="configuracaoMinutos" [hourSegmentTemplate]="dayViewHourSegmentTemplate">
                </mwl-calendar-day-view>

                <ng-template #dayViewHourSegmentTemplate let-segment="segment" let-locale="locale"
                  let-segmentHeight="segmentHeight">
                  <div #segmentElement class="cal-hour-segment hora-desabilitada" [style.height.px]="segmentHeight"
                    [class.cal-hour-start]="true" [class.cal-after-hour-start]="false"
                    [class.hora-desabilitada]="validaHoraIntervaloComponente(segment.date)" [ngClass]="segment.cssClass"
                    (mousedown)="startDragToCreate(segment, $event, segmentElement)">
                    <div class="cal-time">
                      {{ segment.date | calendarDate:'dayViewHour':locale }}
                    </div>
                  </div>
                </ng-template>
              </div>
            </div>
          </div>
          <div class="spinner row" *ngIf="isSpinnerVisibleAgenda">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #footerDatePicker>
  <hr class="my-0">
  <button class="btn btn-primary btn-sm m-2 float-left" (click)="hojeDatePicker()">Hoje</button>
  &nbsp;

  <input type="text" mask="00/00/0000" id="dataIrPara" #dataIrPara placeholder="31/12/2001" class="form-control"
    style="width: 120px;">
  <button class="btn btn-primary btn-sm m-2" (click)="irParaDatePicker(dataIrPara.value)">Ir Para</button>

</ng-template>

<ng-template #modalAgendamentoEmHorarioIntervalo id="modalAgendamentoEmHorarioIntervalo" let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">Horário Intervalo</h4>
    <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title" (click)="c('Fechar')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p><strong>Agendamento em horário intervalo, deseja prosseguir?</strong></p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-warning" (click)="c('Ok')">Ok</button>
    <button type="button" class="btn btn-outline-secondary" (click)="c('Cancelar')">Cancelar</button>
  </div>
</ng-template>

<ng-template #modalAcaoAgendamento id="modalAcaoAgendamento" let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">{{acaoAgendamento}} Agendamento</h4>
    <button type="button" class="close" aria-label="Fechar" (click)="d('Cancelar')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Deseja {{acaoAgendamento}} o agendamento?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Sim')">Sim</button>
    <button type="button" class="btn btn-secondary" (click)="c('Nao')">Não</button>
  </div>
</ng-template>