<div class="spinner" *ngIf=isSpinnerVisible>
    <div class="double-bounce1"></div>
    <div class="double-bounce2"></div>
</div>

<div class="row" *ngIf=!isSpinnerVisible>
    <div class="col-lg-12 col-xlg-12 col-md-12">
        <div class="card text-center" style="margin-bottom: 10px;">
            <div class="card-body" style="padding: 10px;">
                <b>
                    <h2 style="display: inline">{{nomePaciente}}</h2>
                    <h3 style="display: inline"> {{anosConvenio}}</h3>
                    <h3> {{iniciadoAgendamento}} </h3>
                </b>

                <div [ngClass]="{'alert-danger' : ultimoAgendamentoCancelado, 'alert' : true, 'alert-success' : !ultimoAgendamentoCancelado}"
                    *ngIf="mensagemUltimoAgendamento">
                    {{mensagemUltimoAgendamento}}
                </div>

            </div>
        </div>
    </div>
</div>

<div class="row" *ngIf=!isSpinnerVisible>
    <div class="col-lg-12 col-xlg-12 col-md-12">
        <div class="card" id="formAtendimento">
            <div class="card-body">
                <ngb-tabset type="pills" [destroyOnHide]="false" #tabSet justify="justified">
                    <ngb-tab title="Informações" id="tabInfo">
                        <ng-template ngbTabContent>
                            <div id="tab_1" class="container col-sm-12 col-md-12" style="padding-top:15px">
                                <br>
                                <div class="row">
                                    <div class="col-xs-12 col-md-12">
                                        <div class="form-group">
                                            <label class="control-label" for="paciente">Paciente</label>
                                            <div>
                                                <div class="input-group">
                                                    <input type="text" id="paciente" name="paciente" readonly
                                                        class="form-control" [(ngModel)]="paciente.nomeCompleto"
                                                        #nomeCompleto="ngModel">
                                                    <div class="input-group-prepend">
                                                        <ng-template #tipPaciente>Cadastro Paciente
                                                        </ng-template>
                                                        <span (click)="cadastroPaciente()" [ngbTooltip]="tipPaciente"
                                                            class="input-group-text" id="img-adiciona-oficio">
                                                            <i class="fa fa-pencil"></i></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-6 col-md-4">
                                        <div class="form-group">
                                            <label class="control-label" for="tipoAgendamento">Tipo Agendamento</label>
                                            <input type="text" id="tipoAgendamento" name="tipoAgendamento" readonly
                                                class="form-control" [(ngModel)]="agendamento.tipoAgendamentoDescricao"
                                                #tipoAgendamento="ngModel">
                                        </div>
                                    </div>


                                    <div class="col-xs-6 col-md-4">
                                        <div class="form-group">
                                            <label class="control-label" for="horarioAgendamento">Horário
                                                Agendamento</label>
                                            <input type="text" id="horarioAgendamento" name="horarioAgendamento"
                                                disabled class="form-control" [(ngModel)]="horarioAgendamentoDescricao"
                                                #horarioAgendamento="ngModel">
                                        </div>
                                    </div>

                                    <div class="col-xs-6 col-md-4">
                                        <div class="form-group">
                                            <label class="control-label" for="telefoneDescricao">Telefone</label>
                                            <input type="text" id="telefoneDescricao" name="telefoneDescricao" disabled
                                                class="form-control" [(ngModel)]="telefoneDescricao"
                                                #telefone="ngModel">
                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-xs-8 col-md-8" *ngIf="descricaoLocal">
                                        <div class="form-group">
                                            <label class="control-label" for="descricaoLocal">Local</label>
                                            <input type="text" id="descricaoLocal" name="descricaoLocal" readonly
                                                class="form-control" [(ngModel)]="descricaoLocal" #local="ngModel">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-12 col-md-12">
                                        <label class="control-label" for="observacao">Observação Agendamento</label>
                                        <textarea id="observacao" name="observacao" placeholder="observação" readonly
                                            class="form-control" [(ngModel)]="agendamento.observacao"
                                            #observacao="ngModel"></textarea>
                                    </div>
                                </div>
                                <br>

                                <div class="col-md-12">
                                    <quill-editor [(ngModel)]="editorModel" [modules]="customToolbar" id="editorModel"
                                        name="editorModel" (onEditorCreated)="getEditorInstance($event)"
                                        [sanitize]="true" [placeholder]="'Monte o modelo de prescrição aqui...'"
                                        [styles]="{height: '400px'}"></quill-editor>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-tab>

                    <ngb-tab title="Obstetrícia" *ngIf="exibeAbaEspecialidade">
                        <ng-template ngbTabContent>
                            <form #obstetriciaForm="ngForm">

                                <div id="tab_2" class="container col-sm-12 col-md-12" style="padding-top:15px">
                                    <div class="row"></div>
                                    <div class="row rowcadastro">
                                        <div class="col-xs-6 col-md-3">
                                            <div class="form-group">
                                                <label class="control-label" for="dataUltimaMenstruacao">DUM</label>
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><i
                                                                class="fa fa-calendar"></i></span>
                                                    </div>
                                                    <input type="text" mask="00/00/0000" id="dataUltimaMenstruacao"
                                                        name="dataUltimaMenstruacao" placeholder="01/01/1901"
                                                        appValidaData class="form-control"
                                                        [(ngModel)]="dataUltimaMenstru" #dataUltimaMenstruacao="ngModel"
                                                        (blur)="formataData($event)">
                                                </div>
                                                <div *ngIf="dataUltimaMenstruacao.errors?.validaData"
                                                    class="alert alert-danger">
                                                    <div *ngIf="dataUltimaMenstruacao.errors?.validaData"> Data
                                                        Inválida.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-6 col-md-3">
                                            <div class="form-group">
                                                <label class="control-label" for="semanaIdaDeGestacao">Semana(s) IG
                                                    ECO</label>
                                                <select class="form-control" [(ngModel)]="paciente.semanaGestacao"
                                                    #semanaIdaDeGestacao="ngModel" id="semanaIdaDeGestacao"
                                                    name="semanaIdaDeGestacao">
                                                    <option *ngFor="let semana of semanasGestacao | enumToArray">
                                                        {{semana}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-xs-6 col-md-3">
                                            <div class="form-group">
                                                <label class="control-label" for="diaIdadeGestacao">Dia(s) IG
                                                    ECO</label>
                                                <select class="form-control" [(ngModel)]="paciente.diaGestacao"
                                                    #diaIdadeGestacao="ngModel" id="diaIdadeGestacao"
                                                    name="diaIdadeGestacao">
                                                    <option *ngFor="let dia of diasGestacao | enumToArray">
                                                        {{dia}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </form>

                        </ng-template>
                    </ngb-tab>
                    <ngb-tab title="Prescrição" id="tabPrescricao">
                        <ng-template ngbTabContent>
                            <div class="spinner" *ngIf=spinnerPrescricao>
                                <div class="double-bounce1"></div>
                                <div class="double-bounce2"></div>
                            </div>

                            <div id="tab_2" class="container col-sm-12 col-md-12" *ngIf="!spinnerPrescricao">
                                <div class="row">
                                    <div class="table table-responsive smart-table">
                                        <ng2-smart-table (edit)="editarPrescricao($event.data.id)"
                                            (create)="criarPrescricao()" [(settings)]="settingsPrescricoes"
                                            [(source)]="sourcePrescricao">
                                        </ng2-smart-table>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-tab>

                    <ngb-tab title="Histórico" id="tabHistorico">
                        <ng-template ngbTabContent>
                            <div class="spinner" *ngIf=spinnerHistorico>
                                <div class="double-bounce1"></div>
                                <div class="double-bounce2"></div>
                            </div>

                            <div id="tab_4" class="container col-sm-12 col-md-12" *ngIf="!spinnerHistorico">

                                <ul class="timeline" *ngFor="let time of listaTimeline">
                                    <li [ngClass]="time.par ? 'timeline-inverted' : ''">
                                        <div class="timeline-badge" [style.backgroundColor]="time.cor"> </div>
                                        <div class="timeline-panel">
                                            <div class="timeline-heading">
                                                <h4 class="timeline-title">{{time.titulo}}</h4>
                                                <p><small class="text-muted"><i class="fa fa-clock-o"></i> {{time.dataHora}}</small>
                                                </p>
                                            </div>
                                            <div class="timeline-body" >
                                                <p style="white-space: pre-line">{{time.descricao}}</p>
                
                                                <hr *ngIf="time.agendamentoId || time.contaReceber != null">
                                                <div class="btn-group" *ngIf="time.agendamentoId || time.contaReceber != null">
                                                    <ng-template #tipAgendamento>Detalhes Agendamento</ng-template>
                                                    <ng-template #tipContaReceber>Detalhes Conta a Receber</ng-template>
                
                                                    <button *ngIf="time.agendamentoId" [ngbTooltip]="tipAgendamento"
                                                        (click)="chamaAgendamento(time.agendamentoId)" type="button"
                                                        class="btn btn-primary btn-sm btn-info" style="margin-right: 2px;">
                                                        <i class="fa fa-calendar"></i> 
                                                    </button>
                                                    <button *ngIf="time.contaReceber != null" [ngbTooltip]="tipContaReceber"
                                                        (click)="chamaContaReceber(time)" type="button"
                                                        class="btn btn-sm btn-dark" style="margin-right: 2px;"> <i
                                                            class="fa fa-money"></i>
                                                    </button>
                                                </div>
                
                                            </div>
                                        </div>
                                    </li>
                                </ul>

                            </div>

                        </ng-template>
                    </ngb-tab>

                    <ngb-tab title="Pagamentos" id="tabPagamentos">
                        <ng-template ngbTabContent>
                            <div id="tab_3" class="container col-sm-12 col-md-12">
                                <br>
                                <div class="row">
                                    <div class="col-xs-2 col-md-3">
                                        <label class="control-label" for="saldo">Total Pagamentos</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">R$</span>
                                            </div>
                                            <input type="text" id="totalPagamentos" mask="dot_separator.2"
                                                name="totalPagamentos" placeholder="000,00" class="form-control"
                                                readonly [(ngModel)]="totalPagamentos" #totalPagamentosModel="ngModel">
                                        </div>
                                    </div>
                                    <div class="col-xs-2 col-md-3" style="margin-top:30px">
                                    <button (click)="imprimirRecibo()" class="btn btn-rounded btn-secondary" [hidden]="!agendamento.contemPagamentos"
                                    type="button"><i class="fa fa-print"></i>  Imprimir Recibo</button>
                                </div>
                                </div>
                                <div class="row">
                                    <div class="table table-responsive smart-table">
                                        <ng2-smart-table [(settings)]="settingsPagamentos" [(source)]="sourcePagamentos"
                                            (edit)="adicionarPagamento()" (create)="adicionarPagamento()"
                                            (delete)="adicionarPagamento()">
                                        </ng2-smart-table>
                                    </div>
                                </div>

                            </div>

                        </ng-template>
                    </ngb-tab>
                </ngb-tabset>
            </div>
            <div class="card-footer">
                <div class="row">
                    <button style="width:30%; margin:10px" (click)="salvarAgendamento()" class="btn btn-rounded btn-success" 
                        type="button">Salvar Agendamento</button>
                        <button style="width:30%; margin:10px" (click)="finalizarAtendimento()" class="btn btn-rounded btn-primary"
                        type="button">Finalizar Atendimento</button>
                        
                        <button style="width:30%; margin:10px" (click)="voltar()" class="btn btn-rounded btn-warning"
                        type="button">Voltar</button>
                </div>
            </div>
        </div>
    </div>
</div>