<div class="spinner" *ngIf="isSpinnerVisible">
  <div class="double-bounce1"></div>
  <div class="double-bounce2"></div>
</div>
<form #acoesAgendamento="ngForm" *ngIf="!isSpinnerVisible">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">Ações</h4>
    <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title"
      (click)="fechar('Fechar')">
      <span aria-hidden="true" title="Fechar">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <div class="row">

      <div class="col-xs-4 col-md-4">

        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><span class="fa fa-info-circle"></span> Informações Agendamento</h5>
            <div class="col-lg-12 col-xlg-12 col-md-12">

              <div class="row">
                <img alt="nomePaciente" [src]="fotoPaciente" class="mr-3 mt-3 rounded-circle" style="width:60px;">
                <div class="media-body">
                  <h6 style="margin:0px; margin-top:5px;"><b>{{paciente.nomeCompleto}}</b></h6>
                  <p style="margin:0px; margin-top:5px;">
                    <small><span class="fa fa-phone"> {{telefone}}</span></small>
                  </p>
                  <p style="margin:0px;">

                    <small><span class="fa fa-calendar"> {{descricaoData}}</span></small>
                  </p>
                  <p style="margin:0px;">
                    <small><span class="fa fa-clock-o"> {{horario}}</span></small>
                  </p>

                  <p style="margin:0px;">
                    <small><span class="fa fa-stethoscope">
                        <b>&nbsp;&nbsp;{{agendamento.tipoAgendamentoDescricao.toUpperCase()}}</b></span></small>
                  </p>

                </div>
              </div>


              <div class="row">
                <div class="media-body">
                  <div
                    [ngClass]="{'alert-danger' : ultimoAgendamentoCancelado, 'alert' : true, 'alert-success' : !ultimoAgendamentoCancelado}"
                    *ngIf="mensagemUltimoAgendamento">
                    {{mensagemUltimoAgendamento}}
                  </div>
                  <div class="alert-warning alert" style="text-align: center" *ngIf="agendamento.primeiraConsulta">
                    PRIMEIRA CONSULTA
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-8 col-md-8">

        <button type="button" class="btn-lg btn-acoes btn btn-success" *ngIf="validarBotoesAcoes('IniciarAtendimento')"
          (click)="fechar('IniciarAtendimento')"><span><img
              src="../../assets/images/icon/iniciar-atendimento.png"></span> Iniciar Atendimento</button>

        <button type="button" class="btn-lg btn-acoes btn btn-primary" *ngIf="validarBotoesAcoes('Confirmar')"
          (click)="fechar('Confirmar')"><span class="fa fa-calendar-check-o" title="Confirmar"></span>
          Confirmar</button>

        <button type="button" class="btn-lg btn-acoes btn btn-success" *ngIf="validarBotoesAcoes('Pagar')"
          (click)="fechar('Pagar')"><span class="fa fa-money" title="Adicionar Pagamento"></span> Adicionar Pagamento
        </button>

        <button type="button" class="btn-lg btn-acoes btn btn-warning" *ngIf="validarBotoesAcoes('Encaixar')"
          (click)="fechar('Encaixar')"><span title="Encaixar"></span><img src="../../assets/images/icon/encaixar.png">
          Encaixar</button>

        <button type="button" class="btn-lg btn-acoes btn btn-secondary" *ngIf="validarBotoesAcoes('Editar')"
          (click)="fechar('Editar')"><span class="fa fa-pencil" title="Editar"></span> Editar </button>

        <button type="button" class="btn-lg btn-acoes btn-info btn" *ngIf="validarBotoesAcoes('Detalhes')"
          (click)="fechar('Detalhes')"><span class="fa fa-info-circle" title="Detalhes"></span> Detalhes </button>

        <button type="button" class="btn btn-warning btn-lg btn-acoes" *ngIf="validarBotoesAcoes('Cancelar')"
          (click)="fechar('Cancelar')"><span class="fa fa-times" title="Cancelar"></span> Cancelar</button>

        <button type="button" class="btn btn-danger btn-lg btn-acoes" *ngIf="validarBotoesAcoes('Excluir')"
          (click)="fechar('Excluir')"><span class="fa fa-trash" title="Excluir"></span> Excluir</button>

        <button type="button" class="btn-lg btn-acoes btn btn-secondary" *ngIf="validarBotoesAcoes('ImprimirRecibo')"
          (click)="fechar('ImprimirRecibo')"><span class="fa fa-print" title="Imprimir Recibo"></span> Imprimir Recibo
        </button>
      </div>
    </div>

  </div>

</form>