<form #detalhesAgendamento="ngForm">

    <div class="spinner" *ngIf=isSpinnerVisible>
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>

    <div class="modal-header" [hidden]=isSpinnerVisible>
        <h4 class="modal-title">Detalhes Agendamento</h4>
    </div>
    <div class="modal-body" [hidden]=isSpinnerVisible>
        <ngb-tabset type="pills" [destroyOnHide]="false">
            <ngb-tab title="Informações">
                <ng-template ngbTabContent>
                    <div id="tab_1" style="margin-top: 10px;" class="container col-sm-12 col-md-12">
                        <div class="row rowcadastro">
                            <div class="col-xs-6 col-md-6">
                                <div class="form-group">
                                    <label class="control-label" for="medicoModel">Médico</label>
                                    <input id="medicoModel" name="medicoModel" type="text" class="form-control"
                                        #medicoModel id="medicoModel" readonly [(ngModel)]="nomeMedico">
                                </div>
                            </div>
                            <div class="col-xs-6 col-md-6" [hidden]="tipoAgendamentoDescricao.value=='Bloqueio'">
                                <div class="form-group">
                                    <label class="control-label" for="pacienteModel">Paciente</label>
                                    <input id="pacienteModel" name="pacienteModel" type="text" class="form-control"
                                        #pacienteModel id="pacienteModel" readonly [(ngModel)]="nomePaciente">
                                </div>
                            </div>
                        </div>
                        <div class="row rowcadastro">
                            <div class="col-xs-6 col-md-6">
                                <div class="form-group">
                                    <label class="control-label" for="tipoAgendamento">Tipo Agendamento</label>
                                    <input type="text" class="form-control" [(ngModel)]="tipoAgenda"
                                        #tipoAgendamento="ngModel" readonly id="tipoAgendamento" name="tipoAgendamento">
                                </div>
                            </div>
                            <div class="col-xs-6 col-md-6">
                                <div class="form-group">
                                    <label class="control-label" for="tipoAgendamentoDescricao">Descrição</label>
                                    <input type="text" class="form-control"
                                        [(ngModel)]="agendamento.tipoAgendamentoDescricao"
                                        #tipoAgendamentoDescricao="ngModel" readonly id="tipoAgendamentoDescricao"
                                        name="tipoAgendamentoDescricao">
                                </div>
                            </div>
                            <div class="col-xs-6 col-md-4" [hidden]="localCirurgia.value==''">
                                <div class="form-group">
                                    <label class="control-label" for="localCirurgia">Local Cirurgia</label>
                                    <input type="text" class="form-control" readonly
                                        [(ngModel)]="localCirurgiaDescricao" #localCirurgia id="localCirurgia"
                                        name="localCirurgia">
                                </div>
                            </div>
                        </div>
                        <div class="row rowcadastro" [hidden]="tipoAgendamentoDescricao.value=='Bloqueio'">
                            <div class="col-xs-6 col-md-6">
                                <div class="form-group">
                                    <label class="control-label" for="convenio">Convênio</label>
                                    <input type="text" class="form-control" readonly [(ngModel)]="convenioDescricao"
                                        #convenio id="convenio" name="convenio">
                                </div>
                            </div>
                            <div class="col-xs-6 col-md-6">
                                <div class="form-group">
                                    <label class="control-label" for="numeroCartaoModel">Número Cartão</label>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1"><i
                                                    class="fa fa-credit-card-alt"></i></span>
                                        </div>
                                        <input type="text" id="numeroCartaoModel" name="numeroCartaoModel"
                                            placeholder="Número Cartão" class="form-control" readonly
                                            [(ngModel)]="numeroCartao" #numeroCartaoModel>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row rowcadastro">
                            <div class="col-xs-6 col-md-4">
                                <label class="control-label" for="dataAgendamento">Data Agendamento</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                    </div>
                                    <input type="text" mask="00/00/0000" readonly id="dataAgendamento"
                                        name="dataAgendamento" placeholder="01/01/1901" class="form-control"
                                        [(ngModel)]="dataAgenda" #dataAgendamento>
                                </div>

                            </div>

                            <div class="col-xs-6 col-md-4">
                                <div class="form-group">
                                    <label class="control-label" for="horaInicial">Hora Inicial</label>
                                    <input type="text" mask="Hh:m0" pattern="([01][0-9]|2[0-3])[0-5][0-9]"
                                        id="horaInicial" name="horaInicial" placeholder="HH:mm" class="form-control"
                                        readonly [(ngModel)]="agendamento.horaInicial" #horaInicialModel="ngModel">


                                </div>
                            </div>
                            <div class="col-xs-6 col-md-4">
                                <div class="form-group">
                                    <label class="control-label" for="horaFinal">Hora Final</label>
                                    <input type="text" mask="Hh:m0" pattern="([01][0-9]|2[0-3])[0-5][0-9]"
                                        id="horaFinal" name="horaFinal" placeholder="HH:mm" class="form-control"
                                        readonly [(ngModel)]="agendamento.horaFinal" #horaFinalModel="ngModel">
                                </div>
                            </div>
                        </div>
                        <div class="row rowcadastro">
                            <div class="col-xs-12 col-md-12">
                                <label class="control-label" for="observacao">Observação</label>
                                <textarea id="observacao" name="observacao" readonly placeholder="observação"
                                    class="form-control" [(ngModel)]="agendamento.observacao"
                                    #observacao="ngModel"></textarea>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="Pagamentos">
                <ng-template ngbTabContent>
                    <div id="tab_2" style="margin-top: 10px;" class="container col-sm-12 col-md-12">
                        <br />
                        <div class="row">
                            <div class="col-xs-2 col-md-3">
                                <label class="control-label" for="saldo">Total Pagamentos</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">R$</span>
                                    </div>
                                    <input type="text" id="totalPagamentos" mask="dot_separator.2"
                                        name="totalPagamentos" placeholder="000,00" class="form-control" readonly
                                        [(ngModel)]="totalPagamentos" #totalPagamentosModel="ngModel">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="table table-responsive smart-table">
                                <ng2-smart-table [(settings)]="settingsPagamentos" [(source)]="sourcePagamentos">
                                </ng2-smart-table>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </ngb-tab>
        </ngb-tabset>
    </div>

    <div class="modal-footer">
        <button style="width:40%" (click)="fechar()" class="btn btn-rounded btn-warning" type="submit">Voltar</button>
    </div>
</form>