h3 {
  margin: 0 0 10px;
}

pre {
  background-color: #f5f5f5;
  padding: 15px;
}

.cal-day-view .cal-hour-segment.cal-after-hour-start .cal-time {
  display: block;
  }

  .hora-desabilitada, .hora-desabilitada:hover {
    background-color: grey !important;
    cursor: not-allowed;
  }

  .rowcadastro {
    line-height: 0.3;
  }

  .rowAgenda{
    padding: 1px; 
  }

  .btn-selecionado{
    background: #20aee3;
  }
