<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <form (ngSubmit)="onSubmit()" #clinicaForm="ngForm">
          <ngb-tabset type="pills">
            <ngb-tab title="Informações">
              <ng-template ngbTabContent>
                <div id="tab_1" style="margin-top: 10px;" class="container col-sm-12 col-md-12">
                  <div class="row"></div>

                  <div class="row rowcadastro">
                    <div class="col-xs-12 col-md-6">
                      <div class="form-group">
                        <label class="control-label" for="razaoSocial">Razão Social(*)</label>
                        <input type="text" id="razaoSocial" placeholder="Razão Social" name="razaoSocial"
                          class="form-control" required [(ngModel)]="clinica.razaoSocial"
                          #razaoSocial="ngModel">
                        <div *ngIf="razaoSocial.invalid" class="alert alert-danger">
                          <div *ngIf="razaoSocial.errors.required"> Razão Social Obrigatória. </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                      <div class="form-group">
                        <label class="control-label" for="nomeFantasia">Nome Fantasia(*)</label>
                        <input type="text" id="nomeFantasia" placeholder="Nome Fantasia" name="nomeFantasia"
                          class="form-control" required [(ngModel)]="clinica.nomeFantasia"
                          #nomeFantasia="ngModel">
                        <div *ngIf="nomeFantasia.invalid" class="alert alert-danger">
                          <div *ngIf="nomeFantasia.errors.required"> Nome Fantasia Obrigatória. </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row rowcadastro">
                    <div class="col-xs-8 col-md-4">
                      <div class="form-group">
                        <label class="control-label" for="cnpj">CNPJ(*)</label>
                        <input type="text" id="cnpj" mask="00.000.000/0000-00" placeholder="CNPJ" name="cnpj" 
                        class="form-control" required appValidacnpj [(ngModel)]="clinica.cnpj" #cnpj="ngModel">
                        <div *ngIf="cnpj.invalid || cnpj.errors?.validaCnpj" class="alert alert-danger">
                          <div *ngIf="cnpj.errors.required"> CNPJ Obrigatório. </div>
                          <div *ngIf="cnpj.errors?.validaCnpj"> CNPJ inválido. </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-xs-8 col-md-4">
                      <div class="form-group">
                        <label class="control-label" for="telefone">Telefone(*)</label>
                        <input type="text" id="telefone" placeholder="Telefone" mask="(00) 0000-0000" name="telefone" class="form-control" required
                           [(ngModel)]="clinica.telefone" #telefone="ngModel">
                        <div *ngIf="telefone.invalid" class="alert alert-danger">
                          <div *ngIf="telefone.errors.required"> Telefone Obrigatório. </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-xs-8 col-md-4">
                      <div class="form-group">
                        <label class="control-label" for="ie">Inscrição Estadual</label>
                        <input type="text" id="ie" placeholder="Inscrição Estadual" name="ie" class="form-control"
                          [(ngModel)]="clinica.ie" #ie="ngModel">
                      </div>
                    </div>

                    <div class="col-xs-8 col-md-4">
                      <div class="form-group">
                        <label class="control-label" for="im">Inscrição Municipal</label>
                        <input type="text" id="im" placeholder="Inscrição Municipal" name="im" class="form-control"
                          [(ngModel)]="clinica.im" #im="ngModel">
                      </div>
                    </div>
                  </div>
                  <div class="row rowcadastro">
                    <div class="col-xs-4 col-md-2">
                      <label class="form-check-inline" for="ativo">Ativo</label>
                      <input class="form-check-inline" [(ngModel)]="clinica.ativo" checked name="ativo" id="ativo"
                        value="checked" type="checkbox">
                    </div>
                  </div>
                </div>
              </ng-template>
            </ngb-tab>
            <ngb-tab title="Endereço">
              <ng-template ngbTabContent>

                <div class="row rowcadastro">

                  <div class="col-xs-8 col-md-4">
                    <div class="form-group">
                      <label class="control-label" for="cep">CEP</label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><img src="../../../assets/images/icon/logo-correio.png"
                              width="25" height="22"> </span>
                        </div>
                        <input type="text" id="cep" mask="00.000-000" placeholder="CEP" name="cep" class="form-control"
                          (blur)="buscaCep()" [(ngModel)]="clinica.cep" #cep="ngModel">
                      </div>
                    </div>
                  </div>

                  <div class="col-xs-8 col-md-4">
                    <div class="form-group">
                      <label class="control-label" for="endereco">Endereço</label>
                      <input type="text" id="endereco" placeholder="Endereço" name="endereco" class="form-control"
                        [(ngModel)]="clinica.endereco" #endereco="ngModel">
                    </div>
                  </div>

                  <div class="col-xs-8 col-md-4">
                    <div class="form-group">
                      <label class="control-label" for="numero">Número</label>
                      <input type="text" id="numero" placeholder="Número" name="numero" class="form-control"
                        [(ngModel)]="clinica.numero" #numero>
                    </div>
                  </div>
                </div>

                <div class="row rowcadastro">

                  <div class="col-xs-6 col-md-3">
                    <div class="form-group">
                      <label class="control-label" for="complemento">Complemento</label>
                      <input type="text" id="complemento" placeholder="Complemento" name="complemento"
                        class="form-control" [(ngModel)]="clinica.complemento" #complemento="ngModel">
                    </div>
                  </div>

                  <div class="col-xs-6 col-md-3">
                    <div class="form-group">
                      <label class="control-label" for="bairro">Bairro</label>
                      <input type="text" id="bairro" placeholder="Bairro" name="bairro" class="form-control"
                        [(ngModel)]="clinica.bairro" #bairro="ngModel">
                    </div>
                  </div>

                  <div class="col-xs-6 col-md-3">
                    <div class="form-group">
                      <label class="control-label" for="cidade">Cidade</label>
                      <input type="text" id="cidade" placeholder="Cidade" name="cidade" class="form-control"
                        [(ngModel)]="clinica.cidade" #cidade="ngModel">
                    </div>
                  </div>
                  <div class="col-xs-6 col-md-3">
                    <div class="form-group">
                      <label class="control-label" for="uf">Estado</label>
                      <select class="form-control" [(ngModel)]="clinica.uf" #uf="ngModel" id="uf" name="uf">
                        <option *ngFor="let codigo of estados | enumToArray">
                          {{codigo}}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>

              </ng-template>
            </ngb-tab>
          </ngb-tabset>
          <div class="panel-footer rowcadastro">
            <div class="form-group">
              <div class="col-xs-8 col-md-6">
                <button style="width:40%" class="btn btn-rounded btn-success" [disabled]="!clinicaForm.form.valid"
                  type="submit">Salvar</button>
                <a href="javascript:history.back()" style="width:40%" class="btn btn-rounded btn-danger">Cancelar</a>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>