.rowcadastro {    
    margin-top: 3px;
    margin-bottom: 3px;
  }

  .divCentralizada{
    display: flex; 
    width: 150px;
    height: 50px;

    align-items: center;
     justify-content: center;
  }

  