<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div>
                    <h2 class="card-title"><span class="fa fa-bookmark"></span> Atalhos</h2></div>
                <br />
                <div class="row col-xs-12 col-md-12" style="justify-content: center">
                    <a href="#" class="btn btn-danger btn-lg btn-home" role="button"><span
                            class="fa fa-2x fa-calendar"></span>
                        <br />Agenda</a>

                    <a href="#" class="btn-home btn btn-warning btn-lg btn-home" role="button"><span
                            class="fa fa-2x fa-area-chart"></span>
                        <br />Dashboard</a>

                    <a href="#" class="btn-home btn btn-primary btn-lg btn-home" role="button"><span
                            class="fa fa-2x fa-users"></span>
                        <br />Pacientes</a>

                    <a href="#" class="btn-home btn btn-success btn-lg btn-home" role="button"><span
                            class="fa fa-2x fa-user-circle-o"></span> <br />Meu Perfil</a>

                    <a href="#" class="btn-home btn btn-info btn-lg btn-home" role="button"><span
                            class="fa fa-2x fa-cog fa-spin"></span> <br />Configurar Atalhos</a>
                </div>
            </div>
        </div>
    </div>

</div>