<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div>
                    <h2 class="card-title"><span class=""></span> Atalhos</h2>
                </div>
                <br />
                <div class="row col-xs-12 col-md-12" style="justify-content: center">
                    <button (click)="redirecionar('Agenda')" class="btn btn-danger btn-lg btn-home" role="button"><span
                            class="fa fa-3x fa-calendar"></span>
                        <br />Agenda</button>

                    <button (click)="redirecionar('Dashboard')" class="btn-home btn btn-warning btn-lg btn-home"
                        role="button"><span class="fa fa-3x fa-area-chart"></span>
                        <br />Dashboard</button>

                    <button (click)="redirecionar('Pacientes')" class="btn-home btn btn-primary btn-lg btn-home"
                        role="button"><span class="fa fa-3x fa-users"></span>
                        <br />Pacientes</button> 

                    <button (click)="redirecionar('Medicos')" class="btn-home btn btn-info btn-lg btn-home"
                        role="button"><span class="fa fa-3x fa-user-md"></span> <br />Médicos</button>

                    <button (click)="redirecionar('Meu Perfil')" class="btn-home btn btn-success btn-lg btn-home"
                        role="button"><span class="fa fa-3x fa-user-circle-o"></span> <br />Meu Perfil</button>

                </div>

                <div class="row col-xs-12 col-md-12" style="justify-content: center">
                    <button (click)="redirecionar('Conta a Pagar')" class="btn btn-danger btn-lg btn-home"
                        role="button"><span ><img src="../../../assets/images/icon/contaPagar.png"></span>
                        <br />Conta a Pagar</button>

                    <button (click)="redirecionar('Conta a Receber')" class="btn-home btn btn-warning btn-lg btn-home"
                        role="button"><span><img src="../../../assets/images/icon/contaReceber.png"></span>
                        <br />Conta a Receber</button>

                    <button (click)="redirecionar('Caixas')" class="btn-home btn btn-primary btn-lg btn-home"
                        role="button"><span><img src="../../../assets/images/icon/caixa.png"></span>
                        <br />Caixas</button>

                    <button (click)="redirecionar('Configurar Atalhos')" class="btn-home btn btn-info btn-lg btn-home"
                        role="button"><span class="fa fa-3x fa-cog fa-spin"></span> <br />Configurar Atalhos</button>
                </div>
            </div>
        </div>
    </div>

</div>