<form #pagamentoAgendamento="ngForm">
    <div class="modal-header">
        <h4 class="modal-title">Adicionar Pagamento</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-xs-6 col-md-6">
                <div class="form-group">
                    <label class="control-label" for="Caixa">Caixa(*)</label>
                    <select class="form-control" [disabled]="listaPagamentos.length > 0" (change)="selecionaCaixa($event.target.value)" [(ngModel)]="caixa"
                        #caixaModel="ngModel" id="caixa" name="caixa" required>
                        <option *ngFor="let cax of caixas" [ngValue]="cax">
                            {{cax.descricao}}
                        </option>
                    </select>
                    <div *ngIf="caixaModel.invalid || caixa.id == ''" class="alert alert-danger">
                        <div *ngIf="(caixaModel.invalid && caixaModel.errors.required) || caixa.id == ''"> Caixa Obrigatório. </div>
                    </div>
                </div>
            </div>
            <!-- <div class="col-xs-6 col-md-6" *ngIf="!caixaUsuario">
                <div class="form-group">
                    <label class="control-label" for="senha">Senha(*)</label>
                    <input type="password" class="form-control" id="senha" (blur)="validaSenha()" name="senha"
                        placeholder="senha" required #senha>
                    <div *ngIf="senha.value == '' || senhaValida" class="alert alert-danger">
                        <div *ngIf="senha.value == ''"> Senha Obrigatória. </div>
                        <div *ngIf="senhaValida"> Senha Inválida. </div>
                    </div>
                </div>
            </div> -->
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="form-group">
                    <label class="control-label" for="formaPagamento">Forma de Pagamento(*)</label>
                    <select class="form-control" (change)="alteraFormaPagamento()"
                        [(ngModel)]="agendamentoPagamento.formaPagamentoId" #formaPagamentoModel="ngModel"
                        id="formaPagamento" name="formaPagamento" required>
                        <option *ngFor="let forma of formasPagamento" [ngValue]="forma.id">
                            {{forma.descricao}}
                        </option>
                    </select>
                    <div *ngIf="formaPagamentoModel.invalid" class="alert alert-danger">
                        <div *ngIf="formaPagamentoModel.errors.required"> Forma de Pagamento Obrigatória. </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-2 col-md-3">
                <label class="control-label" for="tipoPagamento">Tipo Pagamento(*)</label>
                <select class="form-control" (change)="selecionaTipoPagamento($event.target.value)"
                    [(ngModel)]="vistaPrazo" #tipoPagamento="ngModel" disabled id="tipoPagamento" name="tipoPagamento">
                    <option *ngFor="let codigo of vistaPrazoEnum | enumToArray">
                        {{codigo}}
                    </option>
                </select>
            </div>

            <div class="col-xs-2 col-md-2" *ngIf="visualizaParcela">
                <label class="control-label" for="parcela">Parcela</label>
                <div class="input-group">
                    <input type="number" min="1" id="parcela" name="parcela" class="form-control" required
                        [(ngModel)]="agendamentoPagamento.parcela" #parcela="ngModel">
                </div>
            </div>

            <div class="col-xs-3 col-md-4">
                <label class="control-label" for="valor">Valor(*)</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">R$</span>
                    </div>
                    <input type="text" id="valor" mask="dot_separator.2" (blur)="formatarDecimal($event)" name="valor" placeholder="000,00"
                        class="form-control" required [(ngModel)]="agendamentoPagamento.valor" #valor="ngModel">
                </div>
                <div *ngIf="valor.invalid" class="alert alert-danger">
                    <div *ngIf="valor.errors.required"> Valor Obrigatório. </div>
                </div>
            </div>
            <div class="col-xs-3 col-md-3 text-center divCentralizada">
                <button class="btn btn-rounded btn-success" [disabled]="!pagamentoAgendamento.form.valid || caixa.id == ''"
                    (click)="adicionarPagamento()" style="width: 100%;">Adicionar</button>
            </div>
        </div>
        <div class="row">
            <div class="table table-responsive smart-table">
                <ng2-smart-table [(settings)]="settingsPagamentos" (delete)="deletarPagamento($event)"
                    [(source)]="sourcePagamentos" class="">
                </ng2-smart-table>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <h2>Valor Total: {{valorTotal}}</h2>
            </div>
        </div>
    </div>
</form>
<div class="modal-footer">    
    <button style="width:40%" (click)="salvar()" class="btn btn-rounded btn-success" >Salvar</button>
    <button style="width:40%" (click)="fechar()" class="btn btn-rounded btn-warning" type="submit">Cancelar</button>
</div>